<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav id="sidebar">
        <ul>
            <li class="active">
                <span class="logo">Codespeed</span>
                <button id="toggle-btn" onclick="toggleSidebar()">
                    <i class="bx bx-game"></i>
                </button>
            </li>
            <li>
                <a href="index.html">
                    <i class="bx bx-game"></i>
                    Home
                </a>
            </li>

            <li>
                <button onclick="toggleSubMenu(this)" class="dropdown-btn">
                    <i class="bx bx-game"></i>
                    <span>Create</span>
                    <i class="bx bx-game"></i>
                </button>

                <ul class="sub-menu">
                    <li><a href="#">Folder</a></li>
                    <li><a href="#">Folder</a></li>
                    <li><a href="#">Folder</a></li>
                    <li><a href="#">Folder</a></li>
                </ul>
            </li>



            <li>
                <a href="dashboard.html">
                    <i class="bx bx-game"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="calendar.html">
                    <i class="bx bx-game"></i>
                    Calendar
                </a>
            </li>
            <li>
                <a href="dashboard.html">
                    <i class="bx bx-game"></i>
                    Profile
                </a>
            </li>
        </ul>
    </nav>




    <script type="text/javascript">
        const togglebutton = document.getElementById('toggle-btn');
        const sidebar = document.getElementById('sidebar');

        function toggleSidebar() {
            sidebar.classList.toggle('close');
            togglebutton.classList.toggle('rotate');

            // sidebar.getElementsByClassName('show');

            closeallSubMenus();
        }

        function toggleSubMenu(button) {

            if (button.nextElementSibling.classList.contains('show')) {
                closeallSubMenus();
            }

            button.nextElementSibling.classList.toggle('show');
            button.classList.toggle('rotate');

            if (sidebar.classList.contains('close')) {
                sidebar.classList.toggle('close');
                togglebutton.classList.toggle('rotate');
            }
        }

        function closeallSubMenus() {
            Array.from(sidebar.getElementsByClassName('show')).forEach(ul => {
                ul.classList.remove('show');
                ul.previousElementSibling.classList.remove('rotate');
            });
        }


    </script>

    <script src="~/Scripts/Popper.min.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
