
@{
    //ViewBag.Title = "Mold Die and Cavity Parts Management System";
    ViewBag.Title = "Production Manpower and Capacity System";
    Layout = "";
}

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/Images/pmacs.ico")">
    <link rel="preload" href="@Url.Content("~/Content/fonts/Poppins-Regular.ttf")" as="font" type="font/ttf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/Shared/bootstrap.bundle.min.js"></script>


    @Styles.Render("~/Content/shared-css")
    @Styles.Render("~/Content/pmacs-css")

    @Scripts.Render("~/bundles/shared-js")
    @Scripts.Render("~/bundles/modernizr")
</head>
<section class="main flex_center">
    <div class="main__container">
        <!----------- login background design -------->
        <div class="main__contain">
            <h1 style="line-height: 1.6;">
                <span style="font-weight: 600; color: #053766;">P</span>roduction
                <span style="font-weight: 600; color: #053766;">M</span>anpower
                <span style="font-weight: 600; color: #053766;">A</span>nd
                <span style="font-weight: 600; color: #053766;">C</span>apacity
                <span style="font-weight: 600; color: #053766;">S</span>ystem
            </h1>
            @*<h1 style="line-height: 1.6;">
                Mold Die and Cavity Parts Management System
            </h1>*@
        </div>
        <div class="main__contain">
            <img src="~/Content/Images/forgotpass.png" width="300" height="300" />
        </div>

        <div class="formbox">
            <div class="form signform">
                <form method="post" id="loginsubmit" class="logindesign">
                    <div class="logindesign__contain">
                        <h2 style="font-weight: 600; margin-top: 1em; font-size: 1.5rem;"> Welcome, User</h2>
                        <p>Enter your credentials</p>

                        <div class="logindesign__label">
                            <label style="font-weight: 600;">Full Name:</label>
                            <span class="text-danger" id="erroruser"></span>
                        </div>
                        <div class="search-box">
                            <input type="text" name="username" id="username" autocomplete="off" placeholder="Enter fullname">
                            <div class="namesdisplay"></div>
                        </div>
                        <div class="logindesign__label">
                            <label style="font-weight: 600;">Password : </label>
                            <span class="text-danger" id="errorpass"></span>
                        </div>
                        <input type="password" name="password" id="password" autocomplete="new-password" placeholder="Enter your password">


                        <div id="error-msg" style="color: red;"></div>
                        <div class="formbox__action">
                            <button type="button" id="viewbtn"><i class="fa-regular fa-eye"></i> View Only</button>
                            <button class="submitbtn" id="submitbtn" type="submit"><span class="flex_align"><i class="fa-solid fa-right-to-bracket"></i> Login</span></button>
                        </div>

                        <div Class="footer">
                            <small>Forgot password ? <a href="#" class="signin">Click here</a></small>
                        </div>
                    </div>
                </form>
            </div>


            <div class="form forgetform">
                <form id="forgetform" class="forgetdesign">
                    @*<button class="forgetbtn"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>*@

                    <h2 style="font-weight: 600; font-size: 1.5rem;"> Forgot Password ?</h2>
                    <p style="line-height: 1.6; margin-bottom: 1em;">We'll help you reset your password </p>
                    <Label>Username:</Label>
                    <input type="text" placeholder="Enter your username" id="changeuser" name="changeuser" required>
                    <Label>Employee ID:</Label>
                    <input type="text" placeholder="Enter your Employee ID" id="changeEmpID" name="changeEmpID" required>
                    <Label>New password :</Label>
                    <input type="text" placeholder="Enter your new password" id="changepass" name="changepass" required>


                    @*<button type="submit" class="newpassbtn" id="newpassbtn"><i class="fa-solid fa-paper-plane"></i> Submit</button>*@
                    <div class="forgetfooter flex_align">
                        <button type="button" id="forgetviewbtn" class="backlogs"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>
                        <button  type="submit" class="newpassbtn" id="newpassbtn" ><span class="flex_align"><i class="fa-solid fa-paper-plane"></i> Submit</span></button>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <footer Class="main__credits">
        <span>© 2024 P1SA - Process Control All rights reserved.</span>

    </footer>
    <span class="version">PMACS ver. @ViewData["Version"]</span>
</section>

<div id="notification" class="notification">
    <div class="notification-container">
        <div class="notification-header">
            <h2>System Update</h2>
        </div>
        <div class="notification-content">
            <div class="notification-version">
                <h3>New Features:</h3>
                <p>Version @ViewData["Version"]</p>
            </div>
            <ul id="features-list">
                <li>1. Automatic login on first access</li>
                <li>2. System automatically logs out after 24 hours</li>
                <li>3. UI update for Manpower Production</li>
                <li>4. Updated view style for Capacity per Process</li>
            </ul>

            <div class="notification-footer flex_center mt-3">
                <button id="close-btn">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let loadData = [];
    const version = "@ViewData["Version"]";

    let logbtn = document.querySelector(".signin");
    let mainbody = document.querySelector(".main");
    const form = document.getElementById('loginsubmit');
    let forbtn = document.querySelector(".backlogs");
    const resultBox = document.querySelector(".namesdisplay");
    const inputbox = document.getElementById("username");

    const inputfield = document.getElementById("password");



    const LoadUsers = async () => {
        let res = await fetchData('@Url.Action("GetFullnameList", "PMACS")', {});
        if (res && res.Success) {
            loadData = res.Data;
            loadData = loadData.map(function (item) {
                return item.Fullname;
            });
        } else {
            $("#dataSearching").empty();
            $('#empty-state').show();
        }
    }
    const LoadUpdates  = () => {
        window.onload = function () {
            // New system version
            const newVersion = version; // Change this value when there's a new system update

            // Get the stored version from localStorage
            const storedVersion = localStorage.getItem('systemVersion');

            // Check if the version has changed
            if (storedVersion !== newVersion) {
                // Show notification if the version has changed
                const notification = document.getElementById('notification');
                notification.style.display = 'flex';

                // Update the stored version to the new one
                localStorage.setItem('systemVersion', newVersion);
            }

            // Close notification when the close button is clicked
            const closeBtn = document.getElementById('close-btn');
            closeBtn.addEventListener('click', function () {
                const notification = document.getElementById('notification');
                notification.style.display = 'none';
            });
        };

    }

    // INPUT SEARCH EMPLOYEE NAME WHEN TYPE
    $("#username").keyup(function () {
        let result = [];
        let input = this.value;

        if (input.length > 0) {
            result = loadData.filter((keyword) => {
                return keyword.toLowerCase().includes(input.toLowerCase());
            });
            if (result.length > 0) {
                resultBox.style.display = 'block';
                display(result);
            } else {
                resultBox.style.display = 'none';
            }
        } else {
            resultBox.style.display = 'none';
        }
    });


    function display(result) {
        const content = result.map((list) => {
            return "<li onclick=selectinput(this) >" + list + "</li>";
        });

        resultBox.innerHTML = "<ul>" + content.join('') + "</ul>";
    }
    function selectinput(list) {
        $("#username").val(list.innerHTML);
        resultBox.innerHTML = '';
        resultBox.style.display = 'none';
    }


     logbtn.onclick = function () {
         mainbody.classList.add('slide');
     }

     forbtn.onclick = function () {
         mainbody.classList.remove('slide');
    }


    // Add an event listener for the 'keypress' event
    inputfield.addEventListener('keydown', function (e) {
        // Check if the Enter key was pressed
        if (e.key === 'Enter') {
            e.preventDefault();
            // Prevent the default action (form submission)
            var formData = new FormData(form);
            loginfunc(formData);
        }
    });

    $("#viewbtn").click(function () {
        localStorage.setItem('UserRole', 'Users');
        localStorage.setItem('Fullname', 'GUEST');
        window.location.href = "/P1SA/DieMold/DieMoldLife";
    });



    $("#loginsubmit").submit(function (e) {
        e.preventDefault();
        var formData = new FormData(e.target);
        loginfunc(formData);
    });

    $("#forgetform").submit(function (e) {
        e.preventDefault();
        let formData = new FormData(e.target);
        const data = Object.fromEntries(formData);
        const savebtn = document.querySelector("#newpassbtn");
        savebtn.innerHTML = " <div class='Submitloading'></div>";
    });

    const loginfunc = async (formData) => {
        var errorMsg = document.getElementById('error-msg');
        let data = Object.fromEntries(formData);

             // Check the inputs validation
        if (validateform()) {
                const savebtn = document.querySelector("#submitbtn");
                savebtn.innerHTML = "<div class='buttonloading'></div>";
                let res = await postData('/Auth/Authenticate', data);
                if (res && res.StatusCode === 200) {
                     setTimeout(() => {
                         Swal.fire({
                             title: "Success",
                             text: res.Message,
                             icon: "success",
                             showConfirmButton: false,
                             timer: 1500
                         }).then(() => {
                             savebtn.innerHTML = "<span class='textload'><i class='fa-solid fa-right-to-bracket'></i> Login</span>"
                             localStorage.removeItem('activeLinkIndex');
                             localStorage.setItem('Logout', "/P1SA/PMACS/Mainpage");

                             // For Info of the user
                             localStorage.setItem('UserRole', res.Data.role);
                             localStorage.setItem('Fullname', res.Data.fullname);

                             // For Authorize User Access
                             localStorage.setItem('accessToken', res.Data.access_token);
                             localStorage.setItem('refreshToken', res.Data.refresh_token);

                             // For Persitent Login
                             localStorage.setItem('loginTime', new Date().toISOString());
                             localStorage.setItem('isLoggedInPMACS', 'true');
                             //window.location.href = "/P1SA/DieMold/DieMoldLife";
                             window.location.href = "/P1SA/PMACS/ManpowerProduction";
                         });
                     }, 1000);          
                 }
                 else {
                     setTimeout(() => {
                         Swal.fire({
                             icon: "error",
                             text: res.Message,
                             timer: 1500,
                             showConfirmButton: false
                         });

                         savebtn.innerHTML = "<span class='textload'><i class='fa-solid fa-right-to-bracket'></i> Login</span>"
                     }, 1000);
                 }           
             }
    };
    function validateform() {
        // for the input fields
        const user = document.getElementById("username").value;
        const pass = document.getElementById("password").value;

        // for the error message
        const erroruser = document.getElementById("erroruser");
        const errorpass = document.getElementById("errorpass");

        let isValid = true;

        erroruser.textContent = "";
        errorpass.textContent = "";

        if (user === "") {
            erroruser.textContent = "Please enter your Fullname";
            isValid = false;
        } else if (pass === "") {
            errorpass.textContent = "Please enter your password";
            isValid = false;
        }

        return isValid;
    }


    // ############## DISPLAY ALL THE DATA TO THE PAGE ########################
    const LoadPageData = async () => {
        try {
            if ($("#Employee_ID").val() !== "") {
                resultBox.style.display = 'none';
            }
            $("#username").val("");
            $("#password").val("");
            const [updates, users] = await Promise.all([
                LoadUpdates(),
                LoadUsers()
            ]);

        } catch (error) {
            console.error("Failed to load page data:", error);
        } 
    }

    $(document).ready(() => { LoadPageData(); });


    window.IsLoginUser({
        storageKey: "isLoggedInPMACS",
        redirectUrl: '/P1SA/PMACS/Mainpage',
        expectedValue: 'true',
        redirectIfLoggedInUrl: '/P1SA/PMACS/ManpowerProduction',
        expirationKey: 'loginTime',
        maxHours: 24
    });
</script>

