<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="~/Content/Images/capacity.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMACS</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/PMACS_Layout.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />


    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="~/Scripts/Utilities.js"></script>
    <script src="~/Content/lib/font-awesome/js/all.min.js"></script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <!--========== NAV ==========-->
    <div class="sidebar" id="sidebar">
        <nav class="sidebar__container">
            <div>
                <a href="#" class="sidebar__link sidebar__logo">
                    <img class="sidebar__image" src="~/Content/Images/pmacs.ico" />
                    @*<i class="fa-solid fa-users-viewfinder sidebar__icon"></i>*@
                    <span class="sidebar__logo-name">PMACS</span>
                </a>

                <div class="sidebar__list">
                    <div class="sidebar__items">
                        <h3 class="sidebar__subtitle">Main Menu</h3>

                        <a href="/P1SA/PMACS/ManpowerProduction" class="sidebar__link">
                            <i class="fa fa-users sidebar__icon"></i>
                            <span class="sidebar__name">Manpower</span>
                        </a>


                        <a href="/P1SA/PMACS/FanMajor" class="sidebar__link">
                            <i class="fa-solid fa-gears sidebar__icon"></i>
                            <span class="sidebar__name">Fan Major</span>
                        </a>



                        <a href="/P1SA/PMACS/Selection" class="sidebar__link">
                            <i class="fa fa-microchip  sidebar__icon"></i>
                            <span class="sidebar__name">Capacity Process</span>
                        </a>

                        <a href="/P1SA/PMACS/P1SASummary" class="sidebar__link">
                            <i class="fa fa-table  sidebar__icon"></i>
                            <span class="sidebar__name">P1SA summary</span>
                        </a>



                        <div class="sidebar__dropdown">
                            <a href="#" class="sidebar__link">
                                <i class="fa-regular fa-circle-user sidebar__icon"></i>
                                <span class="sidebar__name">Moldie Die And Cavity</span>
                            </a>

                            <div class="sidebar__dropdown-collapse">
                                <div class="sidebar__dropdown-content">
                                    <a href="/P1SA/DieMold/DieMoldLife" class="sidebar__dropdown-item">Molding</a>
                                    <a href="/P1SA/DieMold/DiePressLife" class="sidebar__dropdown-item">Press</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar__items">
                        @*<h3 class="sidebar__subtitle">Settings</h3>



                            <a href="#" class="sidebar__link">
                                <i class="fa-solid fa-table-columns sidebar__icon"></i>
                                <span class="sidebar__name">Change Password</span>
                            </a>*@

                    </div>
                </div>
            </div>

            <a href="#" id="logID" class="sidebar__link sidebar__logout">
                <i class="fa-solid fa-right-from-bracket sidebar__icon"></i>
                <span class="sidebar__name">Log Out</span>
            </a>
        </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <main>
        @RenderBody()
    </main>



    <!--========== NAV ==========-->
    @*<div class="nav" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="#" class="nav__link nav__logo">
                        <i class='bx bxs-disc nav__icon'></i>
                        <span class="nav__logo-name">PMACS</span>
                    </a>

                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Main Menu</h3>

                            <a href="/P1SA/PMACS/ManpowerProduction" class="nav__link active">
                                <i class="fa fa-users nav__icon" ></i>
                                <span class="nav__name">Manpower</span>
                            </a>

                            <a href="#" class="nav__link">
                                <i class="fa-solid fa-gears nav__icon" ></i>
                                <span class="nav__name">Fan Major</span>
                            </a>

                            <a href="/P1SA/PMACS/Selection" class="nav__link">
                                <i class="fa fa-microchip nav__icon" ></i>
                                <span class="nav__name">Capacity Process</span>
                            </a>

                            <a href="/P1SA/PMACS/P1SASummary" class="nav__link">
                                <i class="fa fa-table nav__icon" ></i>
                                <span class="nav__name">P1SA summary</span>
                            </a>
                        </div>

                        <div class="nav__items">
                            <h3 class="nav__subtitle">Settings</h3>



                            <a href="#" class="nav__link">
                                <i class='bx bx-compass nav__icon'></i>
                                <span class="nav__name">Change Password</span>
                            </a>
                            <a href="#" class="nav__link">
                                <i class='bx bx-bookmark nav__icon'></i>
                                <span class="nav__name">Saved</span>
                            </a>
                        </div>
                    </div>
                </div>

                <a href="#" class="nav__link nav__logout">
                    <i class='bx bx-log-out nav__icon'></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>*@

    <!--========== CONTENTS ==========-->
    @*<main >
            @RenderBody()
        </main>*@

    <!--<div class="mancontainer shrink">
        <nav>
            <div class="sidebar__top">
                <span class="sidebar__btn">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </span>
                <div class="sidebartop__btn">
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                </div>
                <h3 class="hide">PMACS</h3>
            </div>

            <div class="sidebar__links">

                <ul>

                    <li class="tooltip_element" data-tooltip="0">
                        <a href="/P1SA/PMACS/ManpowerProduction" onclick="setActiveLink(0, 'Manpower')" class="nav-link  " data-active="0">
                            <div class="sidebar__icons">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <span class="sidebar__linksname hide">
                                Manpower
                            </span>
                        </a>
                    </li>

                    <li class="tooltip_element" data-tooltip="1">
                        <a href="/P1SA/PMACS/FanMajor" onclick="setActiveLink(1, 'Fan Major Equipment')" class="nav-link navactive " data-active="1">
                            <div class="sidebar__icons">
                                <i class="fa-solid fa-gears" aria-hidden="true"></i>

                            </div>
                            <span class="sidebar__linksname hide">
                                Fan Major Equipment
                            </span>
                        </a>
                    </li>-->
    @*<li class="tooltip_element" data-tooltip="1">
            <a href="/machine/Fanmajor" onclick="setActiveLink(1, 'Fan Major Equipment')" class="nav-link active " data-active="1">
                <div class="sidebar__icons">
                    <i class="fa-solid fa-gears" aria-hidden="true"></i>
                    <i class="fa-solid fa-gears" aria-hidden="true"></i>
                </div>
                <span class="sidebar__linksname hide">
                    Capacity per week
                </span>
            </a>
        </li>*@




    <!--<li class="tooltip_element" data-tooltip="2">
        <a href="/P1SA/PMACS/Selection" onclick="setActiveLink(2, 'Capacity per Process')" class="nav-link  " data-active="2">
            <div class="sidebar__icons">
                <i class="fa fa-microchip" aria-hidden="true"></i>

            </div>
            <span class="sidebar__linksname hide">
                Capacity per Process
            </span>
        </a>
    </li>


    <li class="tooltip_element" data-tooltip="3">
        <a href="/P1SA/PMACS/P1SASummary" onclick="setActiveLink(3, 'P1SA Summary')" class="nav-link " data-active="3">
            <div class="sidebar__icons">
                <i class="fa fa-table" aria-hidden="true"></i>

            </div>
            <span class="sidebar__linksname hide">
                PISA summary
            </span>
        </a>
    </li>-->
    @*<li class="tooltip_element" id="Userhide" data-tooltip="4">
            <a href="/User/ProfileUser" onclick="setActiveLink(4, 'Account Settings')" class="nav-link " data-active="4">
                <div class="sidebar__icons">
                    <i class="fa-regular fa-circle-user"></i>

                </div>
                <span class="sidebar__linksname hide">
                    Account Settings
                </span>
            </a>
        </li>*@
    @*
        <div class="tooltip">
            <span class="show">Dashboard</span>
            <span>fan major</span>
            <span>Capacity</span>
            <span>user setting</span>
        </div>*@
    <!--</ul>


    </div>

    <div class="sidebar__footer">-->
    @*
        <a href="#" class="sidebar__account">
            <i class="bx bx-user"></i>
        </a>*@
    <!--<div class="sidebar__user">
                    <div class="sidebar__userprofile">

                        <div class="sidebard__userinfo">
                            <h3 id="fullnametext">John Doe</h3>
                            <h5 id="Roles">User Guest</h5>
                        </div>
                    </div>
                    <a href="#" id="logbtn" class="sidebar__logout" title="logouttext">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </nav>

        <main>

        </main>
    </div>-->
    @*<div id="notification" class="notification">
            <div class="notification-container">
                <div class="notification-header">
                    <h2>System Update</h2>
                </div>
                <div class="notification-content">
                    <div class="notification-version">
                        <h3>New Features:</h3>
                        <p>Version</p>
                    </div>
                    <ul id="features-list">
                        <li>1. Improve performance</li>
                        <li>2. Fix Molding Frame Capacity process</li>
                        <li>3. Fix Balancing Capacity process</li>
                    </ul>

                    <div class="notification-footer">
                        <button id="close-btn">Close</button>

                    </div>
                </div>
            </div>
        </div>*@
 
    <script type="text/javascript">
        var sessionCheckInterval;
        function startSessionCheck() {
            clearInterval(sessionCheckInterval); // Clear previous interval
            sessionCheckInterval = setInterval(checkSession, 3600000); // Restart session check every 60 seconds
        }


        function checkSession() {
            $.ajax({
                url: "/User/CheckSession",
                method: "GET",
                success: function (response) {
                    if (!response.isAuthenticated) {
                        //alert("Your session has expired. Redirecting to login page.");
                        window.location.href = "/PC/Patrol/index";
                    }
                }
            });
        }

        // Start interval on page load
        startSessionCheck();

        // Reset interval on user activity
        document.addEventListener("mousemove", startSessionCheck); // Mouse movement
        document.addEventListener("keydown", startSessionCheck);   // Keyboard typing
        document.addEventListener("click", startSessionCheck);     // Mouse clicks


        const logbtn = document.getElementById("logID");

        ///*==================== SHOW NAVBAR ====================*/
        //const showMenu = (headerToggle, navbarId) => {
        //    const toggleBtn = document.getElementById(headerToggle),
        //        nav = document.getElementById(navbarId)

        //    // Validate that variables exist
        //    if (headerToggle && navbarId) {
        //        toggleBtn.addEventListener('click', () => {
        //            // We add the show-menu class to the div tag with the nav__menu class
        //            nav.classList.toggle('show-menu')
        //            // change icon
        //            toggleBtn.classList.toggle('fa-solid')
        //        })
        //    }
        //}
        //showMenu('header-toggle', 'sidebar')

        /*==================== LINK ACTIVE ====================*/
        const linkColor = document.querySelectorAll('.sidebar__link')

        function colorLink() {
            linkColor.forEach(l => l.classList.remove('active'))
            this.classList.add('active')
        }

        linkColor.forEach(l => l.addEventListener('click', colorLink))



        document.addEventListener("DOMContentLoaded", function () {
            var currentUrl = window.location.pathname.toLowerCase();
            document.querySelectorAll(".sidebar__link").forEach(function (link) {
                if (link.getAttribute("href").toLowerCase() === currentUrl) {
                    link.classList.add("active");
                }
            });
        });






        logbtn.addEventListener('click', function (e) {
            e.preventDefault();
            Swal.fire({
                title: "Sign out ?",
                text: "Are you sure you want to sign out?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#a3a3a3",
                confirmButtonText: "Log out"
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    //logout();
                    localStorage.removeItem('activeLinkIndex');
                    localStorage.removeItem('users');
                    window.location.href = "/P1SA/PMACS/Mainpage";
                }
            });
        });
    </script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
