<!DOCTYPE html>

<html lang="en">
<head>
    @Html.Partial("_SystemConfig")

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" >
    <title>8 Weeks progress Monitoring </title>
    <script src="~/Scripts/Shared/bootstrap.bundle.min.js"></script>

    <script src="~/Scripts/iconify-icon.min.js"></script>

    @Styles.Render("~/Content/planning-css")

    @Scripts.Render("~/bundles/shared-js")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section>
        @RenderBody()
    </section>

    <script src="~/Scripts/Shared/Global.js"></script>
</body>
</html>
