
@{
    ViewBag.Title = "Masterlist";
    Layout = "~/Areas/PartsLocal/Views/Shared/_PartlocalLayout.cshtml";
}

<section class="maincontainer" style="margin-top: 2em;">
    <div class="MasterWrapper">
        <div class="MasterContent">

            <div class="flex_space mb-4">
                <h4 style="font-weight: 600; color: #222;">Master List</h4>
                <div class="flex_align">
                    <div class="searchinputContainer">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Search here ... " id="searchData" />
                        <div class="line"></div>
                    </div>


                    <button type="button" id="OpenAddMaster" class="btn-cust-primary"><i class="fas fa-plus"></i> Add Data</button>
                </div>
            </div>
            <div class="DieMainTable">
                <table>
                    <thead>
                        <tr>
                            <th>Part Number</th>
                            <th>Model Name</th>
                            <th>Front Image</th>
                            <th>Back Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="MasterlistTable">
                    </tbody>
                </table>
            </div>
            <div id="pagination" style="display: flex; align-items:center; justify-content: center; "></div>
        </div>

        <div class="MasterContent">


            <div class="flex_space mb-4">
                <h4 style="font-weight: 600; color: #222;">Palete Location</h4>
                <button type="button" id="AddPalete" class="btn-cust-primary" disabled> <i class="fas fa-location-dot"></i>  Add Palete Location </button>
            </div>
            <div class="mt-3" id="selectedPartInfo" >
                <p><strong>Selected Part:</strong> <span id="currentPartNumber"></span> - <span id="currentModelName"></span></p>
            </div>
            <div class="DieMainTable" id="DieWrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Palete location</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="StorageTables">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>


@*=================================================================================*@
@*=========================== ADD MASTERLIST ======================================*@
@*=================================================================================*@
<div class="modal fade modal-l" id="AddProductModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body modalwrap">
                <div class="custom_modal_header">
                    <h5 id="changeTitle">Add MasterList</h5>

                    <button type="button" class="btn btn-light  close" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>


                <form method="post" enctype="multipart/form-data" class="addformcontainer" id="addnewform" autocomplete="off">

                    <div class="form_group col-12 col-sm-12">
                        <label>Part Number <small style="color: #a81818; font-weight: 600;">*</small></label>
                        <input type="text" placeholder="Enter the Part No" name="Partnumber" id="Partnumber" required />
                    </div>

                    <div class="form_group col-12 col-sm-12 ">
                        <label>Model Name <small style="color: #a81818; font-weight: 600;">*</small></label> <br />
                        <input type="text" placeholder="Enter the Name of the part no." name="ModelName" id="ModelName" required />
                    </div>

                    <h6>Upload Images</h6>
                    <hr />
                    <label>Front Image</label>

                    <label>BacK Image</label>

                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <div>
                            <small>All fields marked with (<small style="color: #a81818; font-weight: 600;">*</small>) must be filled out</small>
                        </div>
                        <button id="btnSave" class="btn-cust-primary"><i class="fa-regular fa-floppy-disk"></i> Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



@*=================================================================================*@
@*=========================== ADD PALETE LOCATION =================================*@
@*=================================================================================*@
<div class="modal fade modal-l" id="AddLocationModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body modalwrap">
                <div class="custom_modal_header">
                    <h5 id="changeTitle">Add Palete Location</h5>

                    <button type="button" class="btn btn-light  close" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>


                <form method="post" enctype="multipart/form-data" class="addformcontainer" id="AddLocationform" autocomplete="off">

                    <div class="form_group col-12 col-sm-12">
                        <label>Part Number <small style="color: #a81818; font-weight: 600;">*</small></label>
                        <input type="text" placeholder="Enter the Part No" name="partnum" id="Palete_Partnumber" required />
                    </div>

                    <div class="form_group col-12 col-sm-12">
                        <label>Quantity <small style="color: #a81818; font-weight: 600;">*</small></label>
                        <input type="number" placeholder="Enter Amount of Quantity" name="Quantity" id="Palete_Quantity" required />
                    </div>

                    <div class="form_group col-12 col-sm-12 ">
                        <label>Select Palete Location<small style="color: #a81818; font-weight: 600;">*</small></label> <br />
                        <div class="select-container">
                            <select id="selectedPalleted" name="area" required>
                                <option value="0">-- Select Pallete --</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <div>
                            <small>All fields marked with (<small style="color: #a81818; font-weight: 600;">*</small>) must be filled out</small>
                        </div>
                        <button id="btnSave" class="btn-cust-primary"><i class="fa-regular fa-floppy-disk"></i> Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@*=================================================================================*@
@*=========================== CHANGE PALETE LOCATION ==============================*@
@*=================================================================================*@
<div class="modal fade modal-l" id="EditLocationModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body modalwrap">
                <div class="custom_modal_header">
                    <h5 id="changeTitle">Change Palete Location</h5>

                    <button type="button" class="btn btn-light  close" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>


                <form method="post" enctype="multipart/form-data" class="addformcontainer" id="EditLocationform" autocomplete="off">
                    <input type="hidden" name="RecordID" id="RecordID" />

                    <div class="form_group col-12 col-sm-12">
                        <label>Part Number <small style="color: #a81818; font-weight: 600;">*</small></label>
                        <input type="text" placeholder="Enter the Part No" name="partnum" id="EditPalletepartnum" readonly />
                    </div>



                    <div class="form_group col-12 col-sm-12 mb-2">
                        <label>Select Palete Location<small style="color: #a81818; font-weight: 600;">*</small></label> <br />
                        <div class="select-container">
                            <select id="currentPallete" name="newarea" required>
                                <option value="0">-- Select Pallete --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form_group col-12 col-sm-12">
                        <label>Current Quantity <small style="color: #a81818; font-weight: 600;">*</small></label>
                        <input type="text" placeholder="Enter the Part No" name="Quantity" id="EditQuantity" required />
                    </div>

                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <div>
                            <small>All fields marked with (<small style="color: #a81818; font-weight: 600;">*</small>) must be filled out</small>
                        </div>
                        <button id="btnSave" class="btn-cust-primary"><i class="fa-regular fa-floppy-disk"></i> Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">
    let currentPage = 1;
    const pageSize = 10;


    let MasterlistData = [];
    let StorageData = [];
    let strPartnum;
    let strOldlocal;
    let ismode;

    const currentPartNumberEl = document.getElementById('currentPartNumber');
    const currentModelNameEl = document.getElementById('currentModelName');

    // Tabs Content
    const tabs = document.querySelectorAll(".Mold_tab");
    const slider = document.querySelector(".Mold_slider");
    const contents = document.querySelectorAll(".Mold_content");


    tabs.forEach((tab, index) => {
        tab.addEventListener("click", () => {
            // Handle tab active class
            document.querySelector(".Mold_tab.active").classList.remove("active");
            tab.classList.add("active");

            // Move slider
            slider.style.transform = `translateX(${index * 100}%)`;

            // Switch content
            const target = tab.getAttribute("data-target");
            contents.forEach((content) => {
                content.classList.remove("show");
            });

            // Add show class with slight delay
            setTimeout(() => {
                document.getElementById(target).classList.add("show");
            }, 50);



        });
    });

    // ================== OPEN DIALOG ======================
    $("#OpenAddMaster").on('click', function (e) {
        e.preventDefault();
        $("#changeTitle").text("Add Masterlist");
        OpenAddFormMasterList("add");
    });

    $("#AddPalete").on('click', function (e) {
        e.preventDefault();
        $("#Palete_Partnumber").val(strPartnum);
        $("#Palete_Partnumber").prop("readonly", true);
        $("#AddLocationModal").modal("show");
    });


    // =====================================================

    // ================= FORM SUBMISSION ======================
    $("#addnewform").on('submit', async function (e) {
        e.preventDefault();
        let formData = new FormData(this);
        const data = Object.fromEntries(formData);

        // Step 1 : Check if the partnumber is already Exist
        let isExist = MasterlistData.some(res => res.Partnumber === data.Partnumber);

        if (isExist) {
            alert("Partnumber is already Exist");
            return;
        }

        let res = await postData('@Url.Action("AddMasterlist", "PartsLocator")', data);

        console.log(res);
    });


    $("#AddLocationform").on('submit', async function (e) {
        e.preventDefault();
        let formData = new FormData(this);
        const data = Object.fromEntries(formData);

        let res = await postData('@Url.Action("AddMasterlocation", "PartsLocator")', data);

        if (res && res.Success) {
            GetPaleteLocation(data.partnum);
            $("#AddLocationModal").modal("hide");
        }
    });

    $("#EditLocationform").on('submit', async function (e) {
        e.preventDefault();
        let formData = new FormData(this);
        const data = Object.fromEntries(formData);

        if (strOldlocal === parseInt(data.area)) {
            alert("Selected area is already the current area. !!!");
            return;
        }

        let res = await postData('@Url.Action("EditMasterlocation", "PartsLocator")', data);
        if (res && res.Success) {
            GetPaleteLocation(data.partnum);
            $("#EditLocationModal").modal("hide");
        }

    });


    // =====================================================
    let debounceTimer;

    $("#searchData").on('keyup', () => {
        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(() => {
            currentPage = 1;
            GetMasterlist();
        }, 400);
    });



    function OpenAddFormMasterList(mode, ID = 0) {
        $('#addnewform')[0].reset();

        if (mode === "Edit") {
            $("#changeTitle").text("Edit Masterlist");

            let filterdata = MasterlistData.find(res => res.Partnumber === ID);
            console.log(filterdata);
            if (filterdata) {
                $("#Partnumber").val(filterdata.Partnumber);
                $("#ModelName").val(filterdata.ModelName);
            }
        }

        $("#AddProductModal").modal('show');
    }




    // ================== FETCH DATA ======================
    const GetMasterlist = async () => {
        let search = $("#searchData").val();

        const url =
                    `@Url.Action("GetProductMasterlistPagination", "PartsLocator")`
                    + `?search=${encodeURIComponent(search)}`
                    + `&page=${currentPage}`
                    + `&pageSize=${pageSize}`;


        let res = await FetchAuthenticate(url, {});
        console.log(res);
          if (res && res.Success) {
              $("#MasterlistTable").empty();
              MasterlistData = res.Data.Items;

              MasterlistData.forEach((row, index) => {
                  var setdata = `<tr class='selectedpartnum' id='selectedpartnum_${row.Partnumber}'>
                        <td>${row.Partnumber}</td>
                        <td>${row.ModelName}</td>
                        <td>${row.FrontImage}</td>
                        <td>${row.BackImage}</td>
                        <td>
                           <button type='button' class='btn actionicon text-primary editButton' id='editButton_${row.Partnumber}' >
                              <i class='fa-regular fa-pen-to-square action_btn'></i>
                           </button>

                           <button type='button' class='btn actionicon text-danger deleteButton' id='deleteButton_${row.Partnumber}' >
                               <i class='fa-regular fa-trash-can action_btn'></i>
                            </button>
                        </td>
                    </tr>;`

                  $("#MasterlistTable").append(setdata);
              });

              // Display the pagination
              renderPagination(res.Data);


              // Opens Edit Form Modal
             $(document).on('click', '.editButton', async function (e) {
                 e.stopPropagation();
                 const buttonId = $(this).attr('id');
                 const rowIndex = buttonId.split('_')[1];

                 OpenAddFormMasterList("Edit", rowIndex);


             });

              // Opens Edit Form Modal
              $(document).on('click', '.deleteButton', async function (e) {
                  e.stopPropagation();
                  const buttonId = $(this).attr('id');
                  const rowIndex = buttonId.split('_')[1];

                  Swal.fire({
                      title: "Are you sure?",
                      text: "You won't be able to revert this!",
                      icon: "warning",
                      showCancelButton: true,
                      confirmButtonColor: "#3085d6",
                      cancelButtonColor: "#d33",
                      confirmButtonText: "Yes, delete it!"
                  }).then(async (result) => {   // 👈 make this async
                        if (result.isConfirmed) {

                            let res = await postData('@Url.Action("DeleteMasterListpartnum", "PartsLocator")', {
                                partnum: rowIndex
                            });

                            if (res && res.Success) {
                                Swal.fire({
                                    title: res.Message,
                                    icon: "success"
                                });

                                // optional: remove row / reload table
                                // location.reload();
                            } else {
                                Swal.fire("Error", res?.Message || "Delete failed", "error");
                            }
                        }
                    });


              });

             // Display the Location pallete of the Partnum

             $(document).on('click', '.selectedpartnum', async function (e) {
                 e.stopPropagation();
                 const buttonId = $(this).attr('id');
                 const rowIndex = buttonId.split('_')[1];
                 console.log("ROW CLICK: " + rowIndex );
                 GetPaleteLocation(rowIndex);
             });


          } else {
                 const loadData = `<tr>
                   <td colspan='9'>
                       🔍 ${res.Message}
                   </td>
               </tr>`;

                 ToolingDisplay.empty();
                 ToolingDisplay.append(loadData);

          }
    }



    const GetPaleteLocation = async (partnum) => {
        strPartnum = partnum;

        let res = await FetchAuthenticate('@Url.Action("GetProductsLocationPallete", "PartsLocator")', {
            partnum: partnum
        });
        console.log(res);
        if (res && res.Success) {
          $("#StorageTables").empty();
          StorageData = res.Data;

          StorageData.forEach((row, index) => {
              var setdata = `<tr>
                    <td>${GetLocationString(row.Area)}</td>
                    <td>${row.Quantity}</td>
                    <td>
                       <button type='button' class='btn actionicon text-primary EditPallete' id='EditPallete_${row.RecordID}' >
                          <i class='fa-regular fa-pen-to-square action_btn'></i>
                       </button>

                         <button type='button' class='btn actionicon text-danger DeletePallete' id='DeletePallete_${row.RecordID}' >
                           <i class='fa-regular fa-trash-can action_btn'></i>
                        </button>
                    </td>
                </tr>;`

              $("#StorageTables").append(setdata);
          });

            currentPartNumberEl.textContent = partnum;
          // Opens Edit Form Modal
          $(document).on('click', '.EditPallete', function (e) {
              e.stopPropagation();
              const buttonId = $(this).attr('id');
              const rowIndex = buttonId.split('_')[1];
              let filterdata = StorageData.find(res => res.RecordID === parseInt(rowIndex));

              if (filterdata) {
                  $("#EditPalletepartnum").val(filterdata.Partnumber);
                  $("#RecordID").val(filterdata.RecordID);
                  $("#currentPallete").val(filterdata.Area);    
                  $("#EditQuantity").val(filterdata.Quantity);

                  strOldlocal = filterdata.Area;

                  $("#EditLocationModal").modal('show');

              }
          });

          // Delete Data Form Modal
          $(document).on('click', '.DeletePallete', function (e) {
              e.stopPropagation();
              const buttonId = $(this).attr('id');
              const rowIndex = buttonId.split('_')[1];


              Swal.fire({
                  title: "Are you sure?",
                  text: "You won't be able to revert this!",
                  icon: "warning",
                  showCancelButton: true,
                  confirmButtonColor: "#3085d6",
                  cancelButtonColor: "#d33",
                  confirmButtonText: "Yes, delete it!"
              }).then(async (result) => {
                  if (result.isConfirmed) {
                      let res = await postData('@Url.Action("DeleteMasterlocation", "PartsLocator")', {
                          recordID: parseInt(rowIndex)
                         });

                         if (res && res.Success) {
                             Swal.fire({
                                 title: res.Message,
                                 icon: "success"
                             });

                             GetPaleteLocation(strPartnum);
                             // optional: remove row / reload table
                             // location.reload();
                         } else {
                             Swal.fire("Error", res?.Message || "Delete failed", "error");
                         }
                  }
              });
          });

          // Enable
          $("#AddPalete").prop("disabled", false);
        }


    }









    // ================== COMMON FUNCTION ======================
    function GetLocationString(area) {
        if (area < 1 || area > 26) return "";
        return String.fromCharCode(64 + area);
    }

    function renderPagination(data) {
        const pager = document.getElementById("pagination");
        pager.innerHTML = "";

        if (data.PageNumber > 1) {
            pager.innerHTML += `<button onclick="goPage(${data.PageNumber - 1})">Prev</button>`;
        }

        pager.innerHTML += ` Page ${data.PageNumber} of ${data.TotalRecords} `;

        if (data.PageNumber < data.TotalRecords) {
            pager.innerHTML += `<button onclick="goPage(${data.PageNumber + 1})">Next</button>`;
        }
    }

    const selectDis = document.getElementById("selectedPalleted");
    const editArea = document.getElementById("currentPallete");

    for (let i = 0; i < 26; i++) {
        //const option = document.createElement("option");

        //// A to Z
        //option.text = String.fromCharCode(65 + i);

        //// Numeric value (1–26)
        //option.value = i + 1;
        const text = String.fromCharCode(65 + i);
        const value = i + 1;


        selectDis.append(new Option(text, value));
        editArea.append(new Option(text, value));
    }



    function goPage(page) {
        currentPage = page;
        GetMasterlist();
    }


    const LoadPageData = async () => {
        try {

            const [master, palete] = await Promise.all([
                GetMasterlist()
            ]);
        } catch (error) {
            console.error("Failed to load page data:", error);
        }
    }


    LoadPageData();
</script>

