
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metal Mask Monitoring System</title>
    <meta name="description" content="Learn how to improve your website with caching, accessibility, and SEO best practices.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/MetalMask.css" rel="stylesheet" />
    <link href="~/Content/Shared/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>


    @Styles.Render("~/Content/shared-css")

    @Scripts.Render("~/bundles/shared-js")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="MaskHead">
        <div class="customcontainer nav-container">
            <a href="#" class="logo">
                <span>Metal Mask Monitoring System</span>
            </a>


            <nav class="nav-links">
                <a href="/Circuit/MetalMask/SMTLine" class="nav-link" data-en="SMT"><span class="tab-badge" id="SMTcount">0</span> SMT Line</a>
                <a href="/Circuit/MetalMask/Cleaning" class="nav-link" data-en="Cleaning"><span class="tab-badge" id="Tension">0</span> Tension & Cleaning</a>
                <a href="/Circuit/MetalMask/History" class="nav-link" data-en="History">Daily Summary </a>
                <a href="/Circuit/MetalMask/Masterlist" class="nav-link" data-en="MasterList">MasterList </a>
                <button type="button" id="OpenMetal"><i class="fa-solid fa-plus"></i>Add Metal Mask</button>

            </nav>
        </div>
    </header>

    <main>
        <div class="customcontainer">
            @RenderBody()
        </div>
    </main>



    @*=================================================================================*@
    @*=========================== ADD METAL MASK INFO ==================================*@
    @*=================================================================================*@
    <div class="modal fade modal-l" id="AddProductModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body modalwrap">
                    <div class="custom_modal_header">
                        <h5>Add Metal Mask Info</h5>

                        <button type="button" class="btn btn-light  close" data-bs-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>


                    <div class="search_group col-12 col-sm-12 col-lg-12">
                        <div class="flex_space">
                            <label>Select Model Type : </label>
                            <small class="erromessage errormodel">Select Model Type Required *</small>
                        </div>

                        <select id="ModelType" name="ModelType" class="filter-select">
                            <option value="0">-- Select Model -- </option>
                            <option value="1">FAN </option>
                            <option value="2">UPS </option>
                            <option value="3">Servo </option>
                        </select>

                    </div>
                    <div class="search_group col-12 col-sm-12 col-lg-12">
                        <div class="flex_space">
                            <label>
                                Part number
                                <i class="fa-solid fa-circle-check" style="color: #33C9BB;" id="CheckID"></i>
                                <i class="fa-solid fa-circle-xmark" style="color: #FF2C2C;" id="WrongID"></i>
                            </label>

                            <small class="erromessage errorpartno">Partnumber is Required *</small>
                        </div>
                        <input type="text" placeholder="Ex. 009XXXXXX-01" name="Partnumber" id="PartSearch" required>
                    </div>





                    <form method="post" enctype="multipart/form-data" class="addformcontainer" id="addMaskform" autocomplete="off">

                        <div class="row">
                            <div class="form_group col-6 col-sm-6 ">
                                <label>Area </label>
                                <input type="text" placeholder="-- N/A --" name="AREA" id="AreaText" readonly />
                            </div>

                            <div class="form_group col-6 col-sm-6">
                                <label>Block  </label>
                                <input type="text" placeholder="-- N/A --" name="Blocks" id="BlockText" readonly />
                            </div>
                        </div>



                        <div class="form_group col-12 col-sm-12">
                            <label>Select SMT Line </label>
                            <select id="SMTLine" name="SMTLine" class="filter-select">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <div>
                                <small>All fields marked with (<small style="color: #a81818; font-weight: 600;">*</small>) must be filled out</small>
                            </div>
                            <button id="btnSave" class="primarybtn"><i class="fa-regular fa-floppy-disk"></i> Save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <div class="modal fade modal-m" id="OpenDuplicatePartnum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body modalwrap">
                    <div class="custom_modal_header">
                        <h5>Partnumber  Code :  <span id="letterdisplay"></span> </h5>

                        <button type="button" class="btn btn-light  close" data-bs-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>

                    <table>
                        <tr>
                            <th align="left">Area</th>
                            <th align="left">Side</th>
                            <th align="left">Thickness</th>
                            <th align="left">Blocks</th>
                        </tr>
                        <tbody id="DuplicatePartnum">
                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>




    <script>
        const searchInput = document.getElementById('PartSearch');

        $("#CheckID").hide();
        $("#WrongID").hide();
        $("#SMTcount").hide();
        $("#Tension").hide();

        let refreshData = 0;

        /*==================== LINK ACTIVE ====================*/
        const linkColor = document.querySelectorAll('.nav-link');

        function colorLink() {
            linkColor.forEach(l => l.classList.remove('active'))
            this.classList.add('active')
        }

        linkColor.forEach(l => l.addEventListener('click', colorLink))


        document.addEventListener("DOMContentLoaded", function () {
            var currentUrl = window.location.pathname.toLowerCase();
            document.querySelectorAll(".nav-link").forEach(function (link) {
                if (link.getAttribute("href").toLowerCase() === currentUrl) {
                    link.classList.add("active");

                    let actionpage = currentUrl.substring(currentUrl.lastIndexOf("/") + 1);

                    refreshData = (actionpage === "smtline") ? 1 : 0;

                }
            });
        });


        $("#OpenMetal").on('click', function (e) {
            e.preventDefault();
            $("#AddProductModal").modal("show");
        });

        $("#addMaskform").on('submit', async function (e) {
            e.preventDefault();

            let partText = $("#PartSearch").val().trim(); 
            let selectModel = $("#ModelType").val();

            if (parseInt(selectModel) === 0) {
                $(".errormodel").show();
                $("#ModelType").focus();
                return;
            } else {
                $(".erromessage").hide();
            }

            if (!partText) {
                $(".errorpartno").show();
                $("#PartSearch").focus();
                return;
            } else {
                $(".errorpartno").hide();
            }



            let formdata = new FormData(e.target);
            formdata.append('Partnumber', partText);

            let res = await postMethod('@Url.Action("SubmitMetalMaskInfo", "MetalMask")', formdata);
            if (res?.Success) {
                if (refreshData == 1) {
                    GetMetalMaskTransaction();
                }
                GetTheTotalCount();

                $("#PartSearch").val("");
                $("#AreaText").val("-- N/A --");
                $("#BlockText").val("-- N/A --");
                $("#AddProductModal").modal("hide");
            }

        })

        searchInput.addEventListener('keyup', function (e) {
            if (e.key === 'Enter') {
                $("#CheckID").hide();
                $("#WrongID").hide();
                const searchValue = e.target.value;
                MetalMaskSearch(searchValue);
            }
        });


         // ================= SEARCH FUNCTION ================ //
        async function MetalMaskSearch(partnum) {
            try {
                let url = '@Url.Action("SearchMetalMaskPartnum", "MetalMask")';

                let res = await GetMethod(url, { Partnumber: partnum });

                if (res?.Success) {
                    let tableData = res.data;
                    $("#CheckID").show();
                    $("#WrongID").hide();
                    $("#PartSearch").css("border", "1px solid #33C9BB");
                    $("#PartSearch").css("outline", "none");

                    if (tableData.length > 1) {
                        // Show a Dialog if the partnumber has same
                        $("#DuplicatePartnum").empty();

                        tableData.forEach((row, index) => {
                            var setdata = `<tr class="fade-in">
                                 <td>${row.AREA}</td>
                                 <td>${row.Side}</td>
                                 <td>${row.Thickness}</td>
                                 <td>${row.Blocks}</td>
                             </tr>;`

                            $("#DuplicatePartnum").append(setdata);
                        });

                        $("#OpenDuplicatePartnum").modal("show");
                    } else {
                        $("#AreaText").val(tableData[0].AREA);
                        $("#BlockText").val(tableData[0].Blocks);
                    }
                } else {
                    $("#CheckID").hide();
                    $("#WrongID").show();
                    $("#PartSearch").css("outline", "none");
                    $("#PartSearch").val("");
                    $("#AreaText").val("-- N/A --");
                    $("#BlockText").val("-- N/A --");
                    $("#PartSearch").css("border", "1px solid #FF2C2C");
                }
            } catch (error) {
                console.error('Unexpected error in GetMetalMaskTransaction:', error);
            }

        }



        const GetTheTotalCount = async () => {
            try {
                 let res = await GetMethod('@Url.Action("GetMetalMaskCurrentCount", "MetalMask")');
                 if (res?.Success) {
                     $("#SMTcount").show();
                     $("#Tension").show();

                     let counts = res.data;

                     if (counts.SMTCount !== 0) {
                         $("#SMTcount").text(counts.SMTCount);
                     } else {
                         $("#SMTcount").hide();
                     }


                     if (counts.TensionCount !== 0) {
                         $("#Tension").text(counts.TensionCount);
                     } else {
                         $("#Tension").hide();
                     }
                 }
            } catch (error) {
                console.error('Unexpected error in GetMetalMaskTransaction:', error);
            }
        }


    


        GetTheTotalCount();
    </script>
</body>
</html>


