
<!DOCTYPE html>

<html lang="en">
<head>
    @Html.Partial("_SystemConfig")

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>FINAL ASSEMBLY SCHEDULE PERFORMANCE AND TRACKING DASHBOARD </title>
    <!-- Google Fonts (same as original) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="~/Scripts/Shared/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/iconify-icon.min.js"></script>
    <link href="~/Content/Shared/bootstrap.min.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/planning-css")*@
    <link href="~/Content/css/FinalAssembly.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/shared-js")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="app-wrapper">
        <!-- Header -->
        <header class="header">

            <div class="logo-area">
                <div class="logo-icon">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5"><path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z" /></svg>
                </div>
                <span class="logo-text">Final Assembly Schedule Performance and Tracking Data</span>
            </div>



            <div class="header-actions">




                <div class="divider"></div>
                <button class="btn-primary" id="refreshbtn">     
                    <iconify-icon icon="uit:refresh" width="20"></iconify-icon>   
                    Refresh
                </button>


                <div class="header-divider"></div>

                @*<button class="icon-btn">          
                    <iconify-icon icon="glyphs:cog" width="20"></iconify-icon>                
                </button>*@

                <button class="icon-btn" id="ExitDash">
                    <iconify-icon icon="solar:exit-bold" width="20"></iconify-icon>
                </button>
            </div>


        </header>

        <div class="main-layout">
            <!-- Main content -->
            <main class="contentV2">
                @RenderBody()

            </main>
        </div>
    </div>
    <script src="~/Scripts/Shared/Global.js"></script>
    <script>

        document.getElementById("ExitDash").addEventListener("click", (e) => {
            e.preventDefault();
             window.location.href =
                 '@Url.Action("Dashboard", "Assembly")';
        });
    </script>
</body>
</html>