
<!DOCTYPE html>

<html lang="en">
<head>
    @Html.Partial("_SystemConfig")

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>FINAL ASSEMBLY SCHEDULE PERFORMANCE AND TRACKING DASHBOARD </title>
    <!-- Google Fonts (same as original) -->
    <script src="~/Scripts/Shared/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/iconify-icon.min.js"></script>
    <link href="~/Content/Shared/bootstrap.min.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/planning-css")*@
    <link href="~/Content/css/Animation.css" rel="stylesheet" />
    @Styles.Render("~/Content/FinalAssembly-css")


    @Scripts.Render("~/bundles/shared-js")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="app-wrapper">
        <!-- Header -->
        <header class="header">

            <div class="logo-area">
                <div class="logo-icon">
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5"><path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z" /></svg>
                </div>
                <span class="logo-text">Final Assembly Schedule Performance and Tracking Data</span>
            </div>



            <div class="header-actions">




                <div class="divider"></div>
                <button class="btn-primary" id="refreshbtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path fill="currentColor" d="M5.463 4.433A9.96 9.96 0 0 1 12 2c5.523 0 10 4.477 10 10c0 2.136-.67 4.116-1.81 5.74L17 12h3A8 8 0 0 0 6.46 6.228zm13.074 15.134A9.96 9.96 0 0 1 12 22C6.477 22 2 17.523 2 12c0-2.136.67-4.116 1.81-5.74L7 12H4a8 8 0 0 0 13.54 5.772z" />
                    </svg>

                    Refresh
                </button>


                <div class="header-divider"></div>

                @*<button class="icon-btn">          
                    <iconify-icon icon="glyphs:cog" width="20"></iconify-icon>                
                </button>*@

                <button class="icon-btn" id="ExitDash">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />s
                        <path fill="currentColor" fill-rule="evenodd" d="M9.707 2.409C9 3.036 9 4.183 9 6.476v11.048c0 2.293 0 3.44.707 4.067s1.788.439 3.95.062l2.33-.406c2.394-.418 3.591-.627 4.302-1.505c.711-.879.711-2.149.711-4.69V8.948c0-2.54 0-3.81-.71-4.689c-.712-.878-1.91-1.087-4.304-1.504l-2.328-.407c-2.162-.377-3.243-.565-3.95.062M12 10.169c.414 0 .75.351.75.784v2.094c0 .433-.336.784-.75.784s-.75-.351-.75-.784v-2.094c0-.433.336-.784.75-.784" clip-rule="evenodd" />
                        <path fill="currentColor" d="M7.547 4.5c-2.058.003-3.131.048-3.815.732C3 5.964 3 7.142 3 9.5v5c0 2.357 0 3.535.732 4.268c.684.683 1.757.729 3.815.732c-.047-.624-.047-1.344-.047-2.123V6.623c0-.78 0-1.5.047-2.123" />
                    </svg>
                </button>
            </div>


        </header>

        <div class="main-layout">
            <!-- Main content -->
            <main class="contentV2">
                @RenderBody()

            </main>
        </div>
    </div>
    <script src="~/Scripts/Shared/Global.js"></script>
    <script>

        document.getElementById("ExitDash").addEventListener("click", (e) => {
            e.preventDefault();
             window.location.href =
                 '@Url.Action("Dashboard", "Assembly")';
        });
    </script>
</body>
</html>