
@{
    ViewBag.Title = "DieMoldDaily";
    Layout = "~/Areas/MoldDie/Views/Shared/_MainLayout.cshtml";
}


<section>
    <div class="DieMainContainer">
        <!-- Left Panel - Form -->
        <div class="left-panel">
            <div class="left-header">
                <h6><i class="fas fa-stopwatch"></i> Daily Moldie Input</h6>
            </div>

            <div class="left-content">
                <div class="formcustomgroup with-icon">
                    <label class="form-label" for="processSelect">
                        <span>SELECT PROCESS</span>
                        <span class="validate-message" id="validprocess">Set Process required</span>
                    </label>
                    <select id="processSelect">
                        <option value="">-- Select Process --</option>
                        <option value="M001">ACM</option>
                        <option value="M002">Mold frame</option>
                        <option value="M003">Mold Impeller</option>
                        <option value="M004">Slot Insulator</option>
                        <option value="M005">Stepping Motor</option>
                    </select>
                </div>

                <div class="formcustomgroup" style="margin-top: 1em; display:none;">
                    <label class="form-label required" for="processSelect">SEARCH PARTNO <span class="validate-message" id="validDateinput">Input part no is required</span></label>
                    <div class="search-container">
                        <input type="text" id="searchInput" placeholder="Enter part number to search (e.g., 002886060-01)" maxlength="14">
                        <button id="searchButton" class="btn btn-secondary">
                            <i class="fa-solid fa-search"></i>
                        </button>
                    </div>
                </div>

                <div class="formcustomgroup" style="margin-top: 1em;">
                    <label class="form-label required" for="processSelect">SEARCH DIE SERIAL  <span class="validate-message" id="validDateDieSerial">Input DieSerial no.</span></label>
                    <div class="search-container">
                        <input type="text" id="searchDie" placeholder="Enter part number to search (e.g., 002886060-01)" maxlength="14">
                        <button id="searchDieButton" class="btn btn-secondary">
                            <i class="fa-solid fa-search"></i>
                        </button>
                    </div>
                </div>

                <form id="addDailyForm" class="Moldformcontaner" style="margin-top: 1em;" autocomplete="off">
                    <input type="hidden" name="DieSerial" id="strDieSerial" />

                    <!-- Date Input -->
                    <div class="formcustomgroup with-icon">
                        <label class="form-label required" for="dateInput">DATE </label>
                        <input type="date" id="DateInput" name="DateInput" required>
                    </div>

                    <!-- Cycle Shot -->
                    <div class="formcustomgroup with-icon">
                        <label class="form-label required" for="cycleShot">CYCLE SHOT </label>
                        <input type="number" id="CycleShot" name="CycleShot" placeholder="Enter Cycle Shot" required min="0">
                    </div>

                    <!-- Machine No -->
                    <div class="formcustomgroup with-icon">
                        <label class="form-label required" for="machineNo">MACHINE NO.</label>
                        <input type="number" id="MachineNo" name="MachineNo" placeholder="Enter Machine Number" required min="1">
                    </div>

                    <!-- Remarks -->
                    <div class="formcustomgroup with-icon">
                        <label class="form-label" for="remarks">REMARKS</label>
                        <select id="remarks" name="Remarks">
                            <option value="N/A">N/A</option>
                            <option value="Shot cycle cleaning">Shot cycle cleaning</option>
                            <option value="Die Cleaning Due To 1 Month No operation">Die Cleaning Due To 1 Month No operation</option>
                        </select>
                    </div>

                    <!-- Maintenance Incharge -->
                    <div class="formcustomgroup with-icon">
                        <label class="form-label" for="maintenanceIncharge">MAINTENANCE INCHARGE</label>
                        <select id="Mincharge" name="Mincharge">
                            <option value="N.AMLOG">N.AMLOG</option>
                            <option value="J.ORO">J.ORO</option>
                            <option value="R.AGACOSCOS">R.AGACOSCOS</option>
                        </select>
                    </div>



                    <div class="form-actions" style="padding-top: 1.5em;">

                        <button type="submit" class="btn-primary-custom" style="width: 100%; display: flex; place-content: center;  ">
                            <i class="fa-regular fa-floppy-disk"></i>
                            Save Record
                        </button>
                    </div>
                </form>
            </div>

        </div>

        <!-- Right Panel - Data Display -->
        <div class="right-panel">
            <div id="DailySummary">

                <!-- Controls Section -->
                <div class="controls-section">
                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-calendar"></i>  Filtered Date
                        </label>
                        <div class="search-box">
                            <input type="date" id="DailyfilterDate">
                        </div>
                    </div>

                  

                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-tags"></i> Filter by Month
                        </label>
                        <select class="filter-select" id="monthSelectDaily">
                            <option value="0"> -- select Month -- </option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-tags"></i> Filter by Process
                        </label>
                        <select class="filter-select" id="DailyProcess">
                            <option value=""> -- select Process -- </option>
                            <option value="M002">Mold Frame</option>
                            <option value="M003">Mold Impeller</option>
                            <option value="M004">Slot Insulator </option>
                        </select>
                    </div>


                </div>





                <hr />

                <div class="TrackTable" id="DieWrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Part No. / Model </th>
                                <th>No.of Shot Cycle</th>
                                <th>Total</th>
                                <th>Machine No.</th>
                                <th>Status</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody id="DieMoldDaily">
                        </tbody>
                    </table>



                </div>

                <div class="pagination" id="pagination">

                    <div class="pagination-items">
                        <!-- Pagination buttons will be inserted here -->
                    </div>
                </div>
            </div>


            <div id="DailyInputs">
                <div class="flex_align mb-3">
                    <h3 style="margin: 0;">Product Details</h3>
                    <button id="Originalback"><i class="fa-solid fa-arrow-rotate-right"></i>Daily</button>
                </div>


                <div class="DetailSerialMain" id="DetailSerialcard">
                    <table class="DetailSerialcard">
                        <thead>
                            <tr>
                                <th>Part number</th>
                                <th>Dimension Quality</th>
                                <th>Die Serial </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="DieSerialMasterlist">
                            <!-- Data will be populated here -->
                            <tr>
                                <td colspan='10'>
                                    🔍 No Data Found
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>



                <hr />

                <div class="TrackTable">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Shot Cycle</th>
                                <th>Total</th>
                                <th>Machine No.</th>
                                <th>Remarks</th>
                                <th>Incharge</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="dieMoldMasterlist">
                            <!-- Data will be populated here -->
                            <tr>
                                <td colspan='10'>
                                    🔍 No Data Found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>
</section>


@Html.Partial("_MoldDIeSummaryView")

<!-- Success Message -->
<div class="success-message" id="successMessage">
    <i class="fas fa-check-circle"></i>
    <span>Record saved successfully!</span>
</div>



<script type="module" asp-append-version="true">
     import {
         getMethod,
         postMethod
     } from '@Url.Content("~/Scripts/modules/index.js")';

    class DieMoldController {
        constructor() {
            this.form = document.getElementById('addDailyForm');
            this.editform = document.getElementById('EditDailyforms');
            this.tbody = document.querySelector('.TrackTable tbody');

            this.detailSummary = document.querySelector('.TrackTable tbody');
            this.tableDisplay = document.querySelector('#dieMoldMasterlist');

            // Input fields Value
            this.processSelection = document.getElementById('processSelect');
            this.DieSerial = document.getElementById('searchDie');
            this.DateInput = document.getElementById('DateInput');
            this.CycleShot = document.getElementById('CycleShot');
            this.MachineNo = document.getElementById('MachineNo');
            this.remarks = document.getElementById('remarks');
            this.Mincharge = document.getElementById('Mincharge');


            // filter selection
            this.DailyProcess = document.getElementById('DailyProcess');
            this.filterProcess = document.getElementById('monthSelectDaily');
            this.searchDieButton = document.getElementById('searchDieButton');
            this.searchInput = document.getElementById('searchDie');


            // Validation Input
            this.validprocess = document.getElementById('validprocess');
            this.validDate = document.getElementById('validDateDieSerial');


            // Display Daily Input
            this.DailySummary = document.getElementById('DailySummary');
            this.DailyInputs = document.getElementById('DailyInputs');

            // ================= Edit Modal =================
            this.editModal = new bootstrap.Modal(
                document.getElementById("EditDailyMold")
            );

            this.EditRecordID = document.getElementById('EditRecordID');
            this.DieSerialCurrentDate = document.getElementById("DieSerialCurrentDate");
            this.DieSerialDateInput = document.getElementById("DieSerialDateInput");
            this.DieSerialCycleShot = document.getElementById("DieSerialCycleShot");
            this.DieSerialMachineNo = document.getElementById("DieSerialMachineNo");
            this.DieSerialRemarks = document.getElementById("DieSerialRemarks");
            this.DieSerialMincharge = document.getElementById("DieSerialMincharge");
        }

        async init() {
            this.setIntialization();
            await this.GetMoldDieDailyData();

            this.bindFormEvents();
            this.bindFilterEvents();
            this.bindEditFormEvents();

        }

        async setIntialization() {
            const today = new Date();

            // Hide Display Daily input and  Show the Summary
            this.DailySummary.style.display = "block";
            this.DailyInputs.style.display = "none";

            // Hide validation messages
            this.validprocess.style.display = "none";
            this.validDate.style.display = "none";

            // Set today's date (YYYY-MM-DD)
            document.getElementById("DailyfilterDate").value =
                today.toISOString().split("T")[0];

            // Set current month (1-12)
            document.getElementById("monthSelectDaily").value =
                today.getMonth() + 1;
        }

        async GetMoldDieDailyData() {
            try {
                const today = new Date().toISOString();

                 const res = await getMethod('@Url.Action("GetMoldDieDailyList", "Mold")', {
                     dateInput: today, // Sends current date/time
                     monthInt: document.getElementById("monthSelectDaily").value,
                     process: this.DailyProcess.value
                 });

                 console.log(res);
                 if (!res?.Success) {
                     console.log('No data Registration Found ');
                     return;
                 }
                 this.renderTable(res.Data);
             } catch (error) {
                 console.error('Error fetching 4M data:', error);
             }
        }
        renderTable(data) {
            if (!this.tbody) return;

            //this.recordCount.textContent = `${data.length} ${data.length === 1 ? 'entry' : 'entries'}`;

            if (data.length === 0) {
                this.tbody.innerHTML = `
                    <tr>
                        <td colspan="7" style="text-align:center; padding:32px; color:#86868b;">
                            No data available.
                        </td>
                    </tr>`;
                return;
            }

            this.tbody.innerHTML = data.map(row => {

            return `
               <tr class='fade-in'>
                        <td>${row.DateInput}</td>
                        <td style='font-weight: 600;'>${row.PartNo}</td>
                        <td>${row.CycleShot}</td>
                        <td>${row.Total || ''}</td>
                        <td>${row.MachineNo}</td>
                        <td class="status-column">${row.Status || ''}</td>
                        <td>${row.Remarks ?? row.Remarks ?? ''}</td>
                </tr>`;

            }).join('');

        }

        bindFilterEvents() {
            this.DailyProcess.addEventListener('change', (e) => this.handlefilterProcess(e));
            this.filterProcess.addEventListener('change', (e) => this.HandlefilterMonths());
            this.searchDieButton.addEventListener('click', async (e) => {
                e.preventDefault();
                await this.searchDieSerial();
            });

            this.searchInput.addEventListener("keypress", async (e) => {
                if (e.key === "Enter") {
                    e.preventDefault();
                    await this.searchDieSerial();
                }
            });
        }

        // ======== SEARCH DIE SERIAL ===========
        async searchDieSerial() {
            const dieval = this.searchInput.value.trim();

            if (!dieval) {
                this.validDate.style.display = "block";
                this.validDate.textContent = "Please enter a Die Serial.";
                return;
            }

            this.validDate.style.display = "none";

            const res = await getMethod('@Url.Action("GetSearchMoldieList", "Mold")', {
                DieSerial: dieval, // Sends current date/time
                process: this.processSelection.value,
            });

            //if (!res.Success) return;
            console.log(res);

            this.populateDieSerialDetails(res.Data.Details);
            this.populateDieTable(res.Data.Listdata);

            this.DailySummary.style.display = "none";
            this.DailyInputs.style.display = "block";

            console.log("Die Enter:", dieval);
        }

        populateDieTable(list) {
            let counter = 0;
            this.tableDisplay.innerHTML = "";

            console.log(list);

            list.forEach(row => {
                let actionButton = "";

                if (row.Total === 0) {
                    counter = 1;
                }

                if (counter === 0) {
                    actionButton = `
                    <div style="display:grid;grid-template-columns:50% 50%;gap:5px;">

                        <button type="button"
                                class="text-primary actionicon EditDailyDieSerial">
                            <i class="fa-regular fa-pen-to-square action_btn"></i>
                        </button>

                        <button type="button"
                                class="text-danger actionicon DeleteDailyDieSerial">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>

                    </div>`;
                }

                const statusBtns = this.buildStatusButtonSet(
                    row.RecordID,
                    row.Status,
                    true,
                    row
                );

                const tr = document.createElement("tr");

                tr.innerHTML = `
                    <td>${row.DateInput}</td>
                    <td>${row.CycleShot}</td>
                    <td>${row.Total}</td>
                    <td>${row.MachineNo}</td>
                    <td>${row.Remarks ?? ""}</td>
                    <td>${row.Mincharge ?? ""}</td>
                    <td><div class="flex_align">${statusBtns}</div></td>
                    <td>${actionButton}</td>
                `;


                // ================= Edit Button =================
                const editBtn = tr.querySelector(".EditDailyDieSerial");

                if (editBtn) {
                    editBtn.addEventListener("click", () => {
                        this.openEditModal(row);
                    });
                }

                // ================= Delete Button =================
                const deleteBtn = tr.querySelector(".DeleteDailyDieSerial");

                if (deleteBtn) {
                    deleteBtn.addEventListener("click", () => {
                        this.deleteDailyRecord(row);
                    });
                }

                this.tableDisplay.appendChild(tr);

            });
        }

        openEditModal(row) {
            //console.log(row);
            this.EditRecordID.value = row.RecordID;
            this.DieSerialCurrentDate.value = row.DateInput;

            this.DieSerialDateInput.value = row.DateInput;
            this.DieSerialCycleShot.value = row.CycleShot;
            this.DieSerialMachineNo.value = row.MachineNo;
            this.DieSerialRemarks.value = row.Remarks ?? "N/A";
            this.DieSerialMincharge.value = row.Mincharge ?? "N.AMLOG";

            this.editModal.show();
        }

        bindEditFormEvents() {
            this.editform.addEventListener("submit", (e) => {
                this.handleEditSubmit(e);
            });
        }

        async handleEditSubmit(e) {
            e.preventDefault();

            const payload = {
                RecordID: parseInt(this.EditRecordID.value, 10),
                CurrentDate: this.DieSerialCurrentDate.value,
                DateInput: this.DieSerialDateInput.value,
                CycleShot: parseInt(this.DieSerialCycleShot.value, 10),
                MachineNo: parseInt(this.DieSerialMachineNo.value, 10),

                Remarks: this.DieSerialRemarks.value,
                Mincharge: this.DieSerialMincharge.value
            };
            try {

                const res = await postMethod(
                    '@Url.Action("UpdateDailyMoldRecord", "Mold")',
                    payload
                );
                console.log(res);
                if (!res.Success) {
                    alert(res.Message);
                    return;
                }

                // Close Modal
                this.editModal.hide();

                // Refresh Table
                await this.searchDieSerial();

            }
            catch (err) {
                console.error(err);
                alert("Unable to update record.");
            }
        }


        async deleteDailyRecord(row) {

                const confirmed = confirm(
                    `Delete daily record?\n\nDie Serial: ${row.DieSerial}\nDate: ${row.DateInput}`
                );

                if (!confirmed) return;

               let payload = {
                    RecordID: parseInt(row.RecordID, 10),
                    DieSerial: row.DieSerial,
                    DateInput: new Date(row.DateInput).toISOString()
                };
                console.log(payload);
                try {

                    const res = await postMethod('@Url.Action("DeleteDailyMoldRecord", "Mold")', payload);
                    console.log(res);
                    //if (!res.Success) {
                    //    alert(res.Message);
                    //    return;
                    //}

                    //// Refresh table
                    //await this.searchDieSerial();

                } catch (err) {
                    console.error(err);
                    alert("Unable to delete record.");
                }
        }

        populateDieSerialDetails(details) {
            this.detailSummary.innerHTML = "";

            const table = document.getElementById("DieSerialMasterlist");
            table.innerHTML = "";

            if (!details || details.length === 0) return;

            const rowspan = details.length;
            const dieSerial = details[0].DieSerial;
            const status = details[0].Status;


            details.forEach((part, index) => {
                const row = document.createElement("tr");

                // Part No
                const partNoCell = document.createElement("td");
                partNoCell.textContent = part.PartNo;
                row.appendChild(partNoCell);

                // Dimension / Quality
                const dimensionCell = document.createElement("td");
                dimensionCell.textContent = part.Dimension_Quality;
                row.appendChild(dimensionCell);

                // Merged cells only on the first row
                if (index === 0) {
                    const dieSerialCell = document.createElement("td");
                    dieSerialCell.rowSpan = rowspan;
                    dieSerialCell.className = "die-serial";
                    dieSerialCell.textContent = dieSerial;
                    row.appendChild(dieSerialCell);

                    const statusCell = document.createElement("td");
                    statusCell.rowSpan = rowspan;
                    statusCell.className = "die-status";
                    statusCell.innerHTML = this.buildStatusBadge(status); // Returns HTML
                    row.appendChild(statusCell);
                }

                table.appendChild(row);
            });
        }


        buildStatusButtonSet(id, status, isDie = false, row = null) {
            let actionStatus = "";

            // For the Partnumber
            if (!isDie) {
                actionStatus = `
                 <button class='status-btn ${status === 0 ? `badge bg-primary` : ``}'
                     onclick="ChangeStatus(${id}, 0)">
                     Continue
                 </button>
                  <button class='status-btn ${status === 1 ? `badge bg-warning text-dark` : ``}'
                     onclick="ChangeStatus(${id}, 1)">
                     Needed
                 </button>
                 <button class='status-btn ${status === 2 ? `badge bg-success` : ``}'
                     onclick="ChangeStatus(${id}, 2)">
                     Complete
                 </button>
                 `;
            } else {
                const key = `'${row.DateInput}','${row.DieSerial}', ${row.Total}`;
                actionStatus = `
                   <button class='status-btn ${status === 0 ? `badge bg-primary` : ``}'
                       onclick="ChangeDieSerialStatus(${key}, 0)">
                       Continue
                   </button>
                    <button class='status-btn ${status === 1 ? `badge bg-warning text-dark` : ``}'
                       onclick="ChangeDieSerialStatus(${key}, 1)">
                       Needed
                   </button>
                   <button class='status-btn ${status === 2 ? `badge bg-success` : ``}'
                       onclick="ChangeDieSerialStatus(${key}, 2)">
                       Complete
                   </button>
                   `;
            }

            return actionStatus;
        }
        buildStatusBadge(status) {
            switch (status) {
                case 0:
                    return `<span class="badge bg-primary">Continue</span>`;
                case 1:
                    return `<span class="badge bg-warning text-dark">Needed</span>`;
                case 2:
                    return `<span class="badge bg-success">Completed</span>`;
                default:
                    return `<span class="badge bg-secondary">Unknown</span>`;
            }
        }


        // ======== FILTER BY PROCESS ===========
        async handlefilterProcess(e) {
            e.preventDefault();
            console.log("change Process");
            await this.GetMoldDieDailyData();
        }
        // ======== CHANGE THE MONTH AND DATE ===========
        HandlefilterMonths() {
            const month = parseInt(this.filterProcess.value);

            if (month === 0) {
                this.DailyProcess.removeAttribute("min");
                this.DailyProcess.removeAttribute("max");
                return;
            }

            const year = new Date().getFullYear();

            // First day of selected month
            const firstDay = new Date(year, month - 1, 1);

            // Last day of selected month
            const lastDay = new Date(year, month, 0);

            const formatDate = (date) => date.toISOString().split("T")[0];

            const minDate = formatDate(firstDay);
            const maxDate = formatDate(lastDay);

            const dateInput = document.getElementById("DailyfilterDate");

            dateInput.min = minDate;
            dateInput.max = maxDate;

            const today = new Date();

            // If selected month is the current month, use today.
            // Otherwise use the first day of the selected month.
            if (
                today.getFullYear() === year &&
                today.getMonth() + 1 === month
            ) {
                dateInput.value = formatDate(today);
            } else {
                dateInput.value = minDate;
            }
        }




        bindFormEvents() {
            this.form.addEventListener('submit', (e) => this.handleSubmit(e));
        }
        async handleSubmit(e) {
             e.preventDefault();

             //if (!this.form.reportValidity()) return;

             const payload = {
                 ProcessID: this.processSelection.value,
                 DieSerial: this.DieSerial.value,
                 DateInput: this.DateInput.value,
                 CycleShot: parseInt(this.CycleShot.value, 10),
                 MachineNo: parseInt(this.MachineNo.value, 10),
                 Remarks: this.remarks.value,
                 Mincharge: this.Mincharge.value
             };


                //this.submitBtn.disabled = true;
             try {
                 const res = await postMethod('@Url.Action("SaveDailyMoldDieMonitor", "Mold")', payload);
                 console.log(res);

                 if (!res?.Success) {
                         //this.showToast(res?.Message || 'Save failed.', true);
                     console.log('Save Failed');
                     return;
                 }
                 this.tableDisplay.innerHTML = "";
                 await this.searchDieSerial();
             } catch (error) {
                     console.error('Error saving record:', error);
             } finally {
             }
         }
    }


    document.addEventListener('DOMContentLoaded', function () {
        const controller = new DieMoldController();
        controller.init();
    });
</script>



