
@{
    ViewBag.Title = "DieMoldDaily";
    Layout = "~/Areas/MoldDie/Views/Shared/_MainLayout.cshtml";
}


<section>
    <div class="DieMainContainer">
        <!-- Left Panel - Form -->
        <div class="left-panel">

            <div class="formcustomgroup with-icon">
                <label class="form-label" for="processSelect">Select Process <span class="validate-message" id="validprocess">Set Process required</span></label>
                <select id="processSelect">
                    <option value="">-- Select Process --</option>
                    <option value="M001">ACM</option>
                    <option value="M002">Mold frame</option>
                    <option value="M003">Mold Impeller</option>
                    <option value="M004">Slot Insulator</option>
                    <option value="M005">Stepping Motor</option>
                </select>
            </div>

            <div class="formcustomgroup" style="margin-top: 1em;">
                <label class="form-label required" for="processSelect">Search PartNo.  <span class="validate-message" id="validDateinput">Input part no.</span></label>
                <div class="search-container">
                    <input type="text" id="searchInput" placeholder="Enter part number to search (e.g., 002886060-01)" maxlength="14">
                    <button id="searchButton" class="btn btn-secondary">
                        <i class="fa-solid fa-search"></i>
                    </button>
                </div>
            </div>

            <div class="formcustomgroup" style="margin-top: 1em;">
                <label class="form-label required" for="processSelect">Search Die Serial.  <span class="validate-message" id="validDateDieSerial">Input DieSerial no.</span></label>
                <div class="search-container">
                    <input type="text" id="searchDie" placeholder="Enter part number to search (e.g., 002886060-01)" maxlength="14">
                    <button id="searchDieButton" class="btn btn-secondary">
                        <i class="fa-solid fa-search"></i>
                    </button>
                </div>
            </div>


            <form id="addDailyForm" class="Moldformcontaner" style="margin-top: 1em;" autocomplete="off">
                <input type="hidden" name="DieSerial" id="strDieSerial" />

                <!-- Date Input -->
                <div class="formcustomgroup with-icon">
                    <label class="form-label required" for="dateInput">Date Input</label>
                    <input type="date" id="DateInput" name="DateInput" required>
                </div>

                <!-- Cycle Shot -->
                <div class="formcustomgroup with-icon">
                    <label class="form-label required" for="cycleShot">Cycle Shot</label>
                    <input type="number" id="CycleShot" name="CycleShot" placeholder="Enter Cycle Shot" required min="0">
                </div>

                <!-- Machine No -->
                <div class="formcustomgroup with-icon">
                    <label class="form-label required" for="machineNo">Machine No</label>
                    <input type="number" id="MachineNo" name="MachineNo" placeholder="Enter Machine Number" required min="1">
                </div>

                <!-- Remarks -->
                <div class="formcustomgroup with-icon">
                    <label class="form-label" for="remarks">Remarks</label>
                    <select id="remarks" name="Remarks">
                        <option value="N/A">N/A</option>
                        <option value="Shot cycle cleaning">Shot cycle cleaning</option>
                        <option value="Die Cleaning Due To 1 Month No operation">Die Cleaning Due To 1 Month No operation</option>
                    </select>
                </div>

                <!-- Maintenance Incharge -->
                <div class="formcustomgroup with-icon">
                    <label class="form-label" for="maintenanceIncharge">Maintenance Incharge</label>
                    <select id="Mincharge" name="Mincharge">
                        <option value="N.AMLOG">N.AMLOG</option>
                        <option value="J.ORO">J.ORO</option>
                        <option value="R.AGACOSCOS">R.AGACOSCOS</option>
                    </select>
                </div>


                <hr />

                <div class="form-actions">

                    <button type="submit" class="primarybtn" style="width: 100%; display: flex; place-content: center;  ">
                        <i class="fa-regular fa-floppy-disk"></i>
                        Save Record
                    </button>
                </div>
            </form>

        </div>

        <!-- Right Panel - Data Display -->
        <div class="right-panel">
            <div id="DailySummary">

                <!-- Controls Section -->
                <div class="controls-section">
                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-calendar"></i>  Filtered Date
                        </label>
                        <div class="search-box">
                            <input type="date" id="DailyfilterDate">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-tags"></i> Filter by Year
                        </label>
                        <select class="filter-select" id="yearselectDaily">
                        </select>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-tags"></i> Filter by Month
                        </label>
                        <select class="filter-select" id="monthSelectDaily">
                        </select>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-tags"></i> Filter by Process
                        </label>
                        <select class="filter-select" id="DailyProcess">
                            <option value="M002">Mold Frame</option>
                            <option value="M003">Mold Impeller</option>
                            <option value="M004">Slot Insulator </option>
                        </select>
                    </div>


                </div>





                <hr />

                <div class="TrackTable" id="DieWrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Part No. / Model </th>
                                <th>No.of Shot Cycle</th>
                                <th>Total</th>
                                <th>Machine No.</th>
                                <th>Status</th>
                                <th>Remarks</th>
                                <th>MIC</th>
                            </tr>
                        </thead>
                        <tbody id="DieMoldDaily">
                        </tbody>
                    </table>



                </div>

                <div id="DailyContainer" class="paginationPartlocal"></div>
            </div>


            <div id="DailyInputs">
                <div class="flex_align mb-3">
                    <h3 style="margin: 0;">Product Details</h3>
                    <button id="Originalback"><i class="fa-solid fa-arrow-rotate-right"></i>Daily</button>
                </div>


                <div class="DetailSerialMain" id="DetailSerialcard">
                    <table class="DetailSerialcard">
                        <thead>
                            <tr>
                                <th>Part number</th>
                                <th>Dimension Quality</th>
                                <th>Die Serial </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="DieSerialMasterlist">
                            <!-- Data will be populated here -->
                            <tr>
                                <td colspan='10'>
                                    🔍 No Data Found
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>



                <hr />

                <div class="TrackTable">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Shot Cycle</th>
                                <th>Total</th>
                                <th>Machine No.</th>
                                <th>Remarks</th>
                                <th>Incharge</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="dieMoldMasterlist">
                            <!-- Data will be populated here -->
                            <tr>
                                <td colspan='10'>
                                    🔍 No Data Found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>
</section>



<!--########################## Edit DIe Serial Daily Mold Die  DATA #############################-->
<div class="modal fade modal-l" id="EditDailyMold" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body modalwrap">
                <div class="custom_modal_header">
                    <h5>Edit Die Serial Mold</h5>

                    <button type="button" class="btn btn-light  close" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <form id="EditDailyforms" class="addformcontainer" autocomplete="off">
                    <input type="hidden" name="DateInput" id="DailyEditDateInput">
                    <div class="form_group col-12 col-lg-12 col-sm-12">
                        <label for="">Cycle shot</label>
                        <input type="number" name="CycleShot" id="DailyeditCycleShot" placeholder="Enter Cycle Shot" onkeypress='return restrictChars(event)' required>
                    </div>

                    <div class="form_group col-12 col-lg-12 col-sm-12">
                        <label for="">Machine No</label>
                        <input type="number" name="MachineNo" id="DailyEditMachineNo" required>
                    </div>

                    <div class="form_group col-12 col-lg-12 col-sm-12">
                        <label for="">Remarks</label>


                        <div class="select-container" style="width: 100% !important;">
                            <select name="Remarks" id="DailyEditRemarks">
                                <option value="N/A">N/A</option>
                                <option value="Shot cycle cleaning">Shot cycle cleaning</option>
                                <option value="Die Cleaning Due To 1 Month No operation">Die Cleaning Due To 1 Month No operation</option>
                            </select>
                        </div>
                    </div>
                    <div class="form_group col-12 col-lg-12 col-sm-12">
                        <label for="">Maintenance incharge</label>


                        <div class="select-container" style="width: 100% !important;">
                            <select name="Mincharge" id="DailyEditMincharge">
                                <option value="N.AMLOG">N.AMLOG</option>
                                <option value="J.ORO">J.ORO</option>
                                <option value="R.AGACOSCOS">R.AGACOSCOS</option>
                            </select>
                        </div>
                    </div>

                    <hr />


                    <div class="flex_space " id="editsdisplay">
                        <small>All fields marked with (<small style="color: #a81818; font-weight: 600;">*</small>) must be filled out</small>
                        <button type="submit" class="primary_button_color">
                            <span><i class="fa-regular fa-floppy-disk"></i>  Save</span>
                        </button>
                    </div>
                </form>


            </div>


        </div>
    </div>
</div>


<!--########################## Edit DIe Partnum Daily Mold Die  DATA #############################-->
<div class="modal fade modal-l" id="EditPartnumMold" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body modalwrap">
                <div class="custom_modal_header">
                    <h5>Edit Die Partnumber</h5>

                    <button type="button" class="btn btn-light  close" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <form id="EditPartnumforms" class="addformcontainer" autocomplete="off">
                    <input type="hidden" name="RecordID" id="DailyPartnumRecordID"/>
                    <input type="hidden" name="DateInput" id="DailyPartnumDateInput">
                    <input type="hidden" name="PartNo" id="DailyEditPartNo">
                    <div class="form_group col-12 col-lg-12 col-sm-12">
                        <label for="">Cycle shot</label>
                        <input type="number" name="CycleShot" id="DailyPartnumCycleShot" placeholder="Enter Cycle Shot" onkeypress='return restrictChars(event)' required>
                    </div>

                    <div class="form_group col-12 col-lg-12 col-sm-12">
                        <label for="">Machine No</label>
                        <input type="number" name="MachineNo" id="DailyPartnumMachineNo" required>
                    </div>

                    <div class="form_group col-12 col-lg-12 col-sm-12">
                        <label for="">Remarks</label>


                        <div class="select-container" style="width: 100% !important;">
                            <select name="Remarks" id="DailyPartnumRemarks">
                                <option value="N/A">N/A</option>
                                <option value="Shot cycle cleaning">Shot cycle cleaning</option>
                                <option value="Die Cleaning Due To 1 Month No operation">Die Cleaning Due To 1 Month No operation</option>
                            </select>
                        </div>
                    </div>
                    <div class="form_group col-12 col-lg-12 col-sm-12">
                        <label for="">Maintenance incharge</label>


                        <div class="select-container" style="width: 100% !important;">
                            <select name="Mincharge" id="DailyPartnumMincharge">
                                <option value="N.AMLOG">N.AMLOG</option>
                                <option value="J.ORO">J.ORO</option>
                                <option value="R.AGACOSCOS">R.AGACOSCOS</option>
                            </select>
                        </div>
                    </div>

                    <hr />


                    <div class="flex_space " id="editsdisplay">
                        <small>All fields marked with (<small style="color: #a81818; font-weight: 600;">*</small>) must be filled out</small>
                        <button type="submit" class="primary_button_color">
                            <span><i class="fa-regular fa-floppy-disk"></i>  Save</span>
                        </button>
                    </div>
                </form>


            </div>


        </div>
    </div>
</div>



<!-- Success Message -->
<div class="success-message" id="successMessage">
    <i class="fas fa-check-circle"></i>
    <span>Record saved successfully!</span>
</div>


<script type="text/javascript">
    let isFirstLoad = true;
    let isYearLoad = true;
    let isSeletedSearch = 0;
    // Loads the year and month select options
    initMonthSelect("monthSelectDaily", true);

    let GetData = [], DailyData = [];
    let TableDisplay = $("#dieMoldMasterlist");
    let DailyDisplay = $("#DieMoldDaily");
    let strpartnum = "";
    let strDieSerial = "";
    let searchSet;

    let getDieObj;

    let yearSelect = $("#yearselectDaily");
    const currentMonth = new Date().getMonth();
    const currentYear = new Date().getFullYear();

    const yearSelectfilter = document.getElementById("yearselectDaily");
    const monthSelect = document.getElementById("monthSelectDaily");
    const dateInput = document.getElementById("DailyfilterDate");

     let setMonth = parseInt(currentMonth) + 1;
     let GetRow = 0;

     // Submit a Add Forms
     $("#addDailyForm").on('submit', async function (e) {
         e.preventDefault();
         const searchInput = $("#searchInput").val().trim();
         const searchDie = $("#searchDie").val().trim();
         const selectionProcess = $("#processSelect").val();

         if (
             (searchInput.trim() === "" && searchDie.trim() === "") ||
             selectionProcess.trim() === ""
         ) {
             alert("Check all the required Input");
             return;
         }

         let value = isSeletedSearch === 0 ? searchInput : searchDie;

         let formData = new FormData(e.target);
         formData.append('ProcessID', selectionProcess);
         formData.append("PartNo", strpartnum);
         formData.append("DieSerial", searchDie);
         formData.append("SearchMode", isSeletedSearch); // 0 = PartNo, 1 = DieSerial

         const data = Object.fromEntries(formData);

         // Check for duplicate entry for the same part number on the same date
         let checkduplicate = await fetchData('@Url.Action("CheckDialyMoldExist", "Mold")',
         {
             srcval: value,
             DateInput: data.DateInput
         });

         if (checkduplicate) {
             let searchname = isSeletedSearch === 0 ? "Partnumber " : "Die Serial ";

             Swal.fire({
                 icon: "error",
                 text: searchname + " is already Input ",
                 timer: 1500,
                 showConfirmButton: false
             });
             return;
         }


         let res = await postData('@Url.Action("SaveDailyMoldDieMonitor", "Mold")', data);
          if (res && res.Success) {
              showSuccessMessage();
              if (isSeletedSearch === 0) {
                  SearchMoldiePartno();
              } else {
                  SearchByDieNo(strDieSerial);
              }
              //document.getElementById("addDailyForm").reset();
              //$("#searchInput").val("");
              //$("#searchDie").val("");
           } else {
               Swal.fire({
                   icon: "error",
                   text: "Error  Problem ecounter.",
                   timer: 1500,
                   showConfirmButton: false
               });
           }

     });

    $("#EditPartnumforms").on('submit', async (e) => {
      e.preventDefault();
        try {
              let formData = new FormData(e.target);
              const data = Object.fromEntries(formData);
              let res = await postData('@Url.Action("UpdateDailyMoldDieMonitor", "Mold")', data);
              console.log(res);

              if (res?.Success) {
                Swal.fire({
                    title: "Success",
                    text: res.Message,
                    icon: "success",
                    confirmButtonColor: "#0d97c9",
                    timer: 1500
                }).then(() => {
                    SearchMoldiePartno();
                    //$("#EditPartnumforms")[0].reset();
                    $("#EditPartnumMold").modal("hide");
                });
            }
        } catch (error) {
            console.error('Failed to start operation:', error);
        }
    });


    // EDIT DIE SERIAL DAILY
     $("#EditDailyforms").on('submit', async (e) => {
         e.preventDefault();
         try {
              let formData = new FormData(e.target);
                 formData.append('DieSerial', strDieSerial);
                 const data = Object.fromEntries(formData);

             let result = await postDataV2('@Url.Action("UpdateDieSerialMoldDieMonitor", "Mold")', formData);
             if (result && result.Error) {
                 // Network or client-side error
                 console.error('Request failed:', result.Message);
             } else if (result && result.Success === false) {
                 // Server returned error (Success: false)
                 console.error('Server error:', result.Message);
                 alert(result.Message || 'Operation failed');
             } else {
                 // Success!
                 console.log('User created:', result);

                 Swal.fire({
                     title: "Success",
                     text: result.Message,
                     icon: "success",
                     confirmButtonColor: "#0d97c9",
                     timer: 1500
                 }).then(() => {
                                   SearchByDieNo(strDieSerial);
                                   $("#EditDailyforms")[0].reset();
                                   $("#EditDailyMold").modal("hide");
                 });
             }



             //console.log(res);
             //        if (res?.Success) {
             //          Swal.fire({
             //              title: "Success",
             //              text: res.Message,
             //              icon: "success",
             //              confirmButtonColor: "#0d97c9",
             //              timer: 1500
             //          }).then(() => {
             //              SearchByDieNo(strDieSerial);
             //              $("#EditDailyforms")[0].reset();
             //              $("#EditDailyMold").modal("hide");
             //          });
             //    }
         } catch (error) {
             console.error('Failed to start operation:', error);
         }
        
      });

      // Back to Daily Summary
    $("#Originalback").on('click', function (e) {
        e.preventDefault();
        GetMoldDieDaily();
    });

    //===============================================================
    //==================== FILTER DATA ==============================
    //===============================================================
    dateInput.addEventListener('change', reloadDailyData);

    $("#DailyProcess").on('change', reloadDailyData);

    $("#monthSelectDaily").on('change', reloadDailyData);

    $("#yearselectDaily").on('change', reloadDailyData);

    function reloadDailyData() {
        const month = $("#monthSelectDaily").val();
        const day = getSelectedDay();
        const process = $("#DailyProcess").val();

        GetMoldDieDaily(month, day, process);
    };
    function getSelectedDay() {
        if (!dateInput.value) return 0;
        const parts = dateInput.value.split("-");
        return parts.length === 3 ? parseInt(parts[2], 10) : 0;
    }
    //===============================================================

     // Search functionality
     $("#searchButton").on('click', function (e) {
         e.preventDefault();
         isSeletedSearch = 0;
         SearchMoldiePartno();
     });

    $("#searchDieButton").on('click', function (e) {
        e.preventDefault();
        isSeletedSearch = 1;
        let partnum = $("#searchDie").val();
        SearchByDieNo(partnum);
    });

     // Allow Enter key to trigger search
     $("#searchInput").on('keypress', function (e) {
         if (e.key === 'Enter') {
             isSeletedSearch = 0;
             SearchMoldiePartno();
         }
     });

    $("#searchDie").on('keypress', function (e) {
        if (e.key === 'Enter') {
            isSeletedSearch = 1;
            console.log("VALUE : " + e.target.value);
            SearchByDieNo(e.target.value);
        }
    });

     // Search Logic
     async function SearchMoldiePartno() {
         strpartnum = $("#searchInput").val().trim();
         const selectionProcess = $("#processSelect").val();

         if (selectionProcess === "" && !searchInput) {
             // Handle empty input
             $("#validDateinput").show();
             $("#validprocess").show();
             return;
         }

         if (selectionProcess === "") {
             // Handle empty input
             $("#validprocess").show();
             $("#validDateinput").hide();
             return;
         }

         if (!searchInput) {
             // Handle empty input
             $("#validprocess").hide();
             $("#validDateinput").show();
             return;
         }
         $("#validDateinput").hide();
         $("#validprocess").hide();
         const searchButton = document.getElementById('searchButton');
         const originalText = searchButton.innerHTML;

         // Show loading state
         searchButton.innerHTML = '<div class="loading"></div> Searching...';
         searchButton.disabled = true;

         $("#DailySummary").hide();
         $("#DailyInputs").show();

         try {
             TableDisplay.empty(); // Removing the Loading Display
             await new Promise(resolve => setTimeout(resolve, 1000));

             let res = await FetchAuthenticate('@Url.Action("SearchMoldieDaily", "Mold")', {
                 ProcessID: selectionProcess,
                 SearchInput: strpartnum
             });

             if (res && res.Success) {
                 let PartObj = res.Data.Details;
                 GetData = res.Data.GetList;


                 $("#DieSerialMasterlist").empty();

                 const rowHtml = `
                     <tr>
                         <td>${PartObj.PartNo}</td>
                         <td>${PartObj.Dimension_Quality}</td>
                         <td>${PartObj.DieSerial}</td>
                         <td>${getStatusHtml(PartObj.Status)}</td>
                     </tr>`;

                 $("#DieSerialMasterlist").append(rowHtml);




                 PopulateDatalist(GetData);

             } else {
                 // Handle no results or failure
                 const loadData = `<tr>
                      <td colspan='9'>
                          🔍 No Data Found
                      </td>
                  </tr>`;

                 TableDisplay.append(loadData);

                 $("#partNumber").text("-");
                 $("#modelName").text("-");
                 $("#lastCycleShot").text("-");
                 $("#partStatus").text("No Data");


             }
         } catch (err) {
             console.error("Search error:", err);
         } finally {
             // Reset button
             searchButton.innerHTML = originalText;
             searchButton.disabled = false;
         }
     }


     // Search By Die Serial No.
    async function SearchByDieNo(searchval) {
        const selectionProcess = $("#processSelect").val();

        if (selectionProcess === "" && !searchInput) {
            // Handle empty input
            $("#validDateDieSerial").show();
            $("#validprocess").show();
            $("#validDateinput").hide();
            return;
        }

        if (selectionProcess === "") {
            // Handle empty input
            $("#validprocess").show();
            $("#validDateinput").hide();
            $("#validDateDieSerial").hide();
            return;
        }

        if (!searchInput) {
            // Handle empty input
            $("#validprocess").hide();
            $("#validDateinput").hide();
            $("#validDateDieSerial").show();
            return;
        }
        $("#validDateDieSerial").hide();
        $("#validprocess").hide();


        const searchButton = document.getElementById('searchDieButton');
        const originalText = searchButton.innerHTML;

        // Show loading state
        searchButton.innerHTML = '<div class="loading"></div> Searching...';
        searchButton.disabled = true;




        try {
            await new Promise(resolve => setTimeout(resolve, 1000));

            let res = await FetchAuthenticate('@Url.Action("SearchByDieSerialMoldie", "Mold")', {
                ProcessID: selectionProcess,
                DieInput: searchval
            });
            $("#DieSerialMasterlist").empty();
            if (res && res.Success) {

                strpartnum = res.Data.Details[0].PartNo;
                strDieSerial = searchval;
                $("#DailySummary").hide();
                $("#DailyInputs").show();

                $("#DetailSerialcard").show();


                let Details = res.Data.Details;
                let GetList = res.Data.GetList;
                getDieObj = GetList[0];
                // Display the Details
                if (Details) {
                    $("#DieSerialMasterlist").empty();
                    let prevDieSerial = null;
                    let prevStatus = null;
                    let rowspanCount = 0;
                    let lastRowDieStatusTd = null;


                    Details.forEach((rowData, index) => {
                        const isSameGroup =
                            rowData.DieSerial === prevDieSerial &&
                            rowData.Status === prevStatus;

                        let dieTd = "";
                        let statusTd = "";

                        if (!isSameGroup) {
                            rowspanCount = 1;

                            dieTd = `<td class="die-serial">${rowData.DieSerial}</td>`;
                            statusTd = `
                                <td class="status" style='margin-left: auto;'>
                                    ${getStatusHtml(rowData.Status)}
                                </td>`;
                        } else {
                            rowspanCount++;

                            lastDieTd.attr("rowspan", rowspanCount);
                            lastStatusTd.attr("rowspan", rowspanCount);
                        }


                        const rowHtml = `
                            <tr>
                                <td>${rowData.PartNo}</td>
                                <td>${rowData.Dimension_Quality}</td>
                                ${dieTd}
                                ${statusTd}
                            </tr>
                        `;

                        const $row = $(rowHtml);
                        $("#DieSerialMasterlist").append($row);


                        if (!isSameGroup) {
                            lastDieTd = $row.find(".die-serial");
                            lastStatusTd = $row.find(".status");
                        }

                        prevDieSerial = rowData.DieSerial;
                        prevStatus = rowData.Status;
                    });

                    PopulateDieSerialist(GetList);
                }


            } else {
                // Handle no results or failure
                const loadData = `<tr>
                     <td colspan='9'>
                         🔍 No Data Found
                     </td>
                 </tr>`;

                TableDisplay.append(loadData);

            }
        } catch (err) {
            console.error("Search error:", err);
        } finally {
            // Reset button
            searchButton.innerHTML = originalText;
            searchButton.disabled = false;
        }
    }

    function getStatusHtml(status) {
        if (status === 0) {
            return `
            <button class="status-btn active"
                style="color:#054e92; border:2px solid #054e92;">
                Continue
            </button>`;
        }
        else if (status === 1) {
            return `
            <button class="status-btn pulse-2">
                Needed
            </button>`;
        }
        else if (status === 2) {
            return `
            <button class="status-btn active"
                style="color:#188f18; border:2px solid #188f18;">
                Completed
            </button>`;
        }
        return "";
    }



    function PopulateDatalist(data) {
         $("#dieMoldMasterlist").empty();
         data.forEach((rowData, index) => {
             let ActionButton = "";

             if (index === 0) {
                 ActionButton = ` <div style='display: grid; grid-template-columns: 50% 50%; gap: 5px;'>
                           <button type="button" class="text-primary actionicon EditDailypartnum"
                               id="editButton_${rowData.RecordID}">
                               <i class="fa-regular fa-pen-to-square action_btn"></i>
                           </button>

                           <button type="button" class="text-danger actionicon  deleteDailypartnumButn"
                               id="deleteDailyButton_${rowData.RecordID}">
                               <i class="fa-regular fa-trash-can"></i>
                           </button>
                     </div>`;
            }




             // Continue Status (0)
             let continueHtml = `
         <button class="status-btn" onclick="ChangeStatus(${rowData.RecordID}, 0)">
             Continue
         </button>`;

             // Needed + Complete (1, 2)
             let neededCompleteHtml = `
         <button class="status-btn"
             onclick="ChangeStatus(${rowData.RecordID}, 1)">
             Needed
         </button>
         <button class="status-btn"
             onclick="ChangeStatus(${rowData.RecordID}, 2)">
             Complete
         </button>`;

             // Highlight active based on rowData.Status
             if (rowData.Status === 0) {
                 continueHtml = `
             <button class="status-btn active"
                 style="color:#054e92;border:2px solid #054e92;"
                 onclick="ChangeStatus(${rowData.RecordID}, 1)">
                 Continue
             </button>`;
             }
             else if (rowData.Status === 1) {
                 neededCompleteHtml = `
             <button class="status-btn active"
                 style="color:#c97d0c;border:2px solid #c97d0c;"
                 onclick="ChangeStatus(${rowData.RecordID}, 1)">
                 Needed
             </button>
             <button class="status-btn"
                 onclick="ChangeStatus(${rowData.RecordID}, 2)">
                 Complete
             </button>`;
             }
             else if (rowData.Status === 2) {
                 neededCompleteHtml = `
             <button class="status-btn"
                 onclick="ChangeStatus(${rowData.RecordID}, 1)">
                 Needed
             </button>
             <button class="status-btn active"
                 style="color:#188f18;border:2px solid #188f18;"
                 onclick="ChangeStatus(${rowData.RecordID}, 2)">
                 Complete
             </button>`;
             }

             const rowHtml = `
                 <tr>
                     <td>${rowData.DateInput}</td>
                     <td>${rowData.CycleShot}</td>
                     <td>${rowData.Total}</td>
                     <td>${rowData.MachineNo}</td>
                     <td>${rowData.Remarks}</td>
                     <td>${rowData.Mincharge}</td>
                      <td>
                        <div class='flex_align'>
                            ${continueHtml} ${neededCompleteHtml}
                        </div>
                      </td>
                     <td >
                           ${ActionButton}
                     </td>
                 </tr>`;

             $("#dieMoldMasterlist").append(rowHtml);
         });


         // Handle click event for edit button
         $(document).on('click', '.EditDailypartnum', function (e) {
             e.stopPropagation();


             const buttonId = $(this).attr('id');
             const rowIndex = buttonId.split('_')[1];
             let filterdata = GetData.filter(res => res.RecordID === parseInt(rowIndex));
             console.log(filterdata);

             if (filterdata) {
                 $("#DailyPartnumRecordID").val(parseInt(rowIndex));
                 $("#DailyEditPartNo").val(filterdata[0].PartNo);
                 $("#DailyPartnumDateInput").val(filterdata[0].DateInput);

                 $("#DailyPartnumCycleShot").val(filterdata[0].CycleShot);
                 $("#DailyPartnumMachineNo").val(filterdata[0].MachineNo);
                 $("#DailyPartnumRemarks").val(filterdata[0].Remarks);
                 $("#DailyPartnumMincharge").val(filterdata[0].Mincharge);
                 $("#EditPartnumMold").modal("show");
             }


         });


            // Handle click event for edit button
           $(document).on('click', '.deleteDailyButton', async function (e) {
               e.stopPropagation();
               const buttonId = $(this).attr('id');
               const rowIndex = buttonId.split('_')[1];


               Swal.fire({
                   title: "Are you sure you want to delete this?",
                   text: "You won't be able to revert this!",
                   icon: "warning",
                   showCancelButton: true,
                   confirmButtonColor: "#3085d6",
                   cancelButtonColor: "#d33",
                   confirmButtonText: "Yes, delete it!"
               }).then( async (result) => {
                   if (result.isConfirmed) {
                       @*let res = await postData('@Url.Action("DeleteDailyMoldDieMonitor", "Mold")', { ID: rowIndex });
                       if (res.Success && res) {

                           Swal.fire({
                               title: "Success",
                               text: res.Message,
                               icon: "success",
                               confirmButtonColor: "#0d97c9",
                               timer: 1500
                           }).then(() => {
                               SearchMoldiePartno();
                           });


                       }*@
                   }
               });

           });



     }
    function PopulateDieSerialist(data) {
        $("#dieMoldMasterlist").empty();
        data.forEach((rowData, index) => {
            let ActionButton = "";

            if (index === 0) {
                ActionButton = `<div style='display: grid; grid-template-columns: 50% 50%; gap: 5px;'>
                      <button type="button" class="text-primary actionicon EditSerialDaily"
                          id="editButton_${rowData.DieSerial}">
                          <i class="fa-regular fa-pen-to-square action_btn"></i>
                      </button>

                      <button type="button" class="text-danger actionicon  deleteSerialDailyBtn"
                          id="deleteDailyButton_${rowData.DieSerial}">
                          <i class="fa-regular fa-trash-can"></i>
                      </button>
                </div>`;
            }


            // Continue Status (0)
            let continueHtml = `
       <button class="status-btn" onclick="ChangeDieSerialStatus('${formatJsonDate(rowData.DateInput)}','${rowData.DieSerial}', 0)">
           Continue
       </button>`;

            // Needed + Complete (1, 2)
            let neededCompleteHtml = `
       <button class="status-btn"
           onclick="ChangeDieSerialStatus('${formatJsonDate(rowData.DateInput)}','${rowData.DieSerial}', 1)">
           Needed
       </button>
       <button class="status-btn"
           onclick="ChangeDieSerialStatus('${formatJsonDate(rowData.DateInput)}','${rowData.DieSerial}', 2)">
           Complete
       </button>`;

            // Highlight active based on rowData.Status
            if (rowData.Status === 0) {
                continueHtml = `
           <button class="status-btn active"
               style="color:#054e92;border:2px solid #054e92;"
               onclick="ChangeDieSerialStatus('${formatJsonDate(rowData.DateInput)}','${rowData.DieSerial}', 1)">
               Continue
           </button>`;
            }
            else if (rowData.Status === 1) {
                neededCompleteHtml = `
           <button class="status-btn active"
               style="color:#c97d0c;border:2px solid #c97d0c;"
               onclick="ChangeDieSerialStatus('${formatJsonDate(rowData.DateInput)}','${rowData.DieSerial}', 1)">
               Needed
           </button>
           <button class="status-btn"
               onclick="ChangeDieSerialStatus('${formatJsonDate(rowData.DateInput)}','${rowData.DieSerial}', 2)">
               Complete
           </button>`;
            }
            else if (rowData.Status === 2) {
                neededCompleteHtml = `
           <button class="status-btn"
               onclick="ChangeDieSerialStatus('${formatJsonDate(rowData.DateInput)}','${rowData.DieSerial}', 1)">
               Needed
           </button>
           <button class="status-btn active"
               style="color:#188f18;border:2px solid #188f18;"
               onclick="ChangeDieSerialStatus('${formatJsonDate(rowData.DateInput)}','${rowData.DieSerial}', 2)">
               Complete
           </button>`;
            }

            const rowHtml = `
               <tr>
                   <td>${rowData.DateInput}</td>
                   <td>${rowData.CycleShot}</td>
                   <td>${rowData.Total}</td>
                   <td>${rowData.MachineNo}</td>
                   <td>${rowData.Remarks}</td>
                   <td>${rowData.Mincharge}</td>
                    <td>
                      <div class='flex_align'>
                          ${continueHtml} ${neededCompleteHtml}
                      </div>
                    </td>
                   <td>${ActionButton}</td>
               </tr>`;

            $("#dieMoldMasterlist").append(rowHtml);
        });



        // Handle click event for edit button
        $(document).on('click', '.EditSerialDaily', function (e) {
            e.stopPropagation();


            const buttonId = $(this).attr('id');
            const rowIndex = buttonId.split('_')[1];
            console.log(getDieObj);
            $("#DailyEditDateInput").val(getDieObj.DateInput);

            $("#DailyeditCycleShot").val(getDieObj.CycleShot);
            $("#DailyEditMachineNo").val(getDieObj.MachineNo);
            $("#DailyEditRemarks").val(getDieObj.Remarks);
            $("#DailyEditMincharge").val(getDieObj.Mincharge);
            $("#EditDailyMold").modal("show");

        });

        // Handle click event for edit button
        $(document).on('click', '.deleteSerialDailyBtn', function (e) {
            e.stopPropagation();


            const buttonId = $(this).attr('id');
            const rowIndex = buttonId.split('_')[1];
            console.log("Delet e HERE");


            //if (filterdata) {
            //    let setDate = formatJsonDate(filterdata.DateInput);
            //    console.log(setDate);
            //    $("#DailyRecordiD").val(filterdata.RecordID);
            //    setDateInput("DailyEditDateInput", setDate);
            //    $("#Editdailypartno").val(filterdata.PartNo);
            //    $("#DailyeditCycleShot").val(filterdata.CycleShot);
            //    $("#DailyEditMachineNo").val(filterdata.MachineNo);
            //    $("#DailyEditRemarks").val(filterdata.Remarks);
            //    $("#DailyEditMincharge").val(filterdata.Mincharge);
            //    $("#EditDailyMold").modal("show");

            //}
        });


    }

    async function ChangeStatus(recordId, status) {

         let res = await postData('@Url.Action("UpdateDailyStatus", "Mold")', {
             RecordID: recordId,
             Status: status
         });

         if (res && res.Success) {
             // Refresh your table
             SearchMoldiePartno()
         }
    }

    const formatJsonDateV2 = function (value) {
        if (!value) return "";

        const ms = parseInt(value.replace("/Date(", "").replace(")/", ""));
        if (isNaN(ms)) return "";

        const date = new Date(ms);

        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const year = date.getFullYear();
        let text = `${day}/${month}/${year}`;
        alert(text);
        return `${day}/${month}/${year}`;
    };



    async function ChangeDieSerialStatus(datestring, dieserial, status) {
        let res = await postData('@Url.Action("UpdateDailySerialStatus", "Mold")', {
            Datestring: datestring,
            DieSerial: dieserial,
            Status: status
        });
        if (res && res.Success) {
            // Refresh your table
            SearchByDieNo(dieserial);
        }
    }

     function setDateInput(inputId, dateStr) {
         if (!dateStr) return; // Exit if empty

         const parts = dateStr.split("/"); // ["MM", "DD", "YY"]
         if (parts.length !== 3) return; // Invalid format

         const month = parts[0].padStart(2, '0');
         const day = parts[1].padStart(2, '0');
         const year = parts[2]; // assumes 2000+ year

         const formattedDate = `${year}-${month}-${day}`;

         const inputElement = document.getElementById(inputId);
         if (inputElement) {
             inputElement.value = formattedDate;
         }
    }

    const GetMoldieYears = async () => {
        let res = await fetchData('@Url.Action("GetYearMoldDie", "Mold")', {});

            yearSelect.empty();
            $.each(res, function (index, year) {
                yearSelect.append(`<option value='${year}'>${year}</option>`);
            });

        // select the first option automatically
        yearSelect.prop('selectedIndex', 0);
    }

    const GetMoldDieDaily = async (month = setMonth, day = GetRow, process = $("#DailyProcess").val()) => {
        $("#DailySummary").show();
        $("#DailyInputs").hide();

        if (isYearLoad) {
            await GetMoldieYears();
        }


        const year = yearSelect.val() === null || yearSelect.val() === ""
            ? currentYear
            : yearSelect.val();

        let formData = new FormData();
        // Where value of month is around 1 - 12
        formData.append('Months', month);
        formData.append('Days', day);
        formData.append('Year', year);
        formData.append('ProcessID', process);
        const data = Object.fromEntries(formData);

        // Clear table only on first load
        if (isFirstLoad) {
            $("#DieMoldDaily").empty();
        }

        let loaderId = null;

        if (isFirstLoad && typeof window.Loadingsteps === "function") {
            const id = window.loadingDisplay("DieMoldDaily", 8);

            window.Loadingsteps(id, async () => {
                await loadMasterlist("", data);
                isFirstLoad = false; // ✅ turn off loader forever
                isYearLoad = false;
            });
        } else {
            // No loader for filters / pagination
            await loadMasterlist("", data);
        }

    }

    const loadMasterlist = async (url, data) => {
        $("#DieMoldDaily").empty();

        let res = await FetchAuthenticate('@Url.Action("GetMoldDieDailyList", "Mold")', data);
         if (res && res.Success) {
              //DieTooling = res.Data;
              DailyData = res.Data;
              DisplayRowData(DailyData);

         } else {
             const message = res?.Message ?? "No data found";

              const loadData = `<tr>
                    <td colspan='8'>
                        🔍 ${message}
                    </td>
                </tr>`;

              DailyDisplay.empty();
              DailyDisplay.append(loadData);

         }
    };


    function DisplayRowData(dataArray) {
        $("#DieMoldToolist").empty();

        dataArray.forEach((row, index) => {
            let continueHtml = `<span>Continue</span>`;
            let neededCompleteHtml = `<span>Needed</span> <span>Complete</span>`;

            // Highlight according to status
            if (row.Status === 0) {
                continueHtml = `<span class="status-label active" style="color: #054e92; border: 2px solid #054e92;">Continue</span>`;
            } else if (row.Status === 1) {
                neededCompleteHtml = `
                   <span class="status-label active" style="color: #c97d0c; border: 2px solid #c97d0c;">Needed</span>
                   <span class="status-label">Complete</span>`;
            } else if (row.Status === 2) {
                neededCompleteHtml = `
                   <span class="status-label">Needed</span>
                   <span class="status-label active" style="color: #188f18; border: 2px solid #188f18;">Complete</span>`;
            }


            const setdata = `
                <tr >
                    <td>${formatJsonDate(row.DateInput)}</td>
                    <td style='font-weight: 600;'>${row.PartNo} / ${row.Dimension_Quality}</td>
                    <td>${row.CycleShot}</td>
                    <td>${row.Total}</td>
                    <td>${row.MachineNo}</td>
                    <td>
                        <div class='flex_align'>
                          ${continueHtml} ${neededCompleteHtml}
                      </div>
                      </td>
                    <td>${row.Remarks}</td>
                     <td>${row.Mincharge}</td>

               </tr>`;

            $("#DieMoldDaily").append(setdata);
        });


    }





    // Function to show success message
    function showSuccessMessage() {
        const $message = $('#successMessage');
        $message.fadeIn(300);

        setTimeout(() => {
            $message.fadeOut(300);
        }, 3000);
    }


    $("#validprocess").hide();
    $("#validDateinput").hide();
    $("#validDateDieSerial").hide();
    GetMoldDieDaily();

</script>