
@{
    ViewBag.Title = "DieMoldDaily";
    Layout = "~/Areas/MoldDie/Views/Shared/_MainLayout.cshtml";
}


<section>
    <div class="DieMainContainer">
        <!-- Left Panel - Form -->
        <div class="left-panel">

            <div class="formcustomgroup with-icon">
                <label class="form-label" for="processSelect">Select Process <span class="validate-message" id="validprocess">Set Process required</span></label>
                <select id="processSelect">
                    <option value="">-- Select Process --</option>
                    <option value="M001">ACM</option>
                    <option value="M002">Mold frame</option>
                    <option value="M003">Mold Impeller</option>
                    <option value="M004">Slot Insulator</option>
                    <option value="M005">Stepping Motor</option>
                </select>
            </div>

            <div class="formcustomgroup" style="margin-top: 1em;">
                <label class="form-label required" for="processSelect">Search PartNo.  <span class="validate-message" id="validDateinput">Input part no.</span></label>
                <div class="search-container">
                    <input type="text" id="searchInput" placeholder="Enter part number to search (e.g., 002886060-01)" maxlength="14">
                    <button id="searchButton" class="btn btn-secondary">
                        <i class="fa-solid fa-search"></i>
                    </button>
                </div>
            </div>




            <form id="addDailyForm" class="Moldformcontaner" style="margin-top: 1em;" autocomplete="off">
                <!-- Date Input -->
                <div class="formcustomgroup with-icon">
                    <label class="form-label required" for="dateInput">Date Input</label>
                    <input type="date" id="DateInput" name="DateInput" required>
                </div>

                <!-- Cycle Shot -->
                <div class="formcustomgroup with-icon">
                    <label class="form-label required" for="cycleShot">Cycle Shot</label>
                    <input type="number" id="CycleShot" name="CycleShot" placeholder="Enter Cycle Shot" required min="1">
                </div>

                <!-- Machine No -->
                <div class="formcustomgroup with-icon">
                    <label class="form-label required" for="machineNo">Machine No</label>
                    <input type="number" id="MachineNo" name="MachineNo" placeholder="Enter Machine Number" required min="1">
                </div>

                <!-- Remarks -->
                <div class="formcustomgroup with-icon">
                    <label class="form-label" for="remarks">Remarks</label>
                    <select id="remarks" name="Remarks">
                        <option value="N/A">N/A</option>
                        <option value="Shot cycle cleaning">Shot cycle cleaning</option>
                        <option value="Die Cleaning Due To 1 Month No operation">Die Cleaning Due To 1 Month No operation</option>
                    </select>
                </div>

                <!-- Maintenance Incharge -->
                <div class="formcustomgroup with-icon">
                    <label class="form-label" for="maintenanceIncharge">Maintenance Incharge</label>
                    <select id="Mincharge" name="Mincharge">
                        <option value="N.AMLOG">N.AMLOG</option>
                        <option value="J.ORO">J.ORO</option>
                        <option value="R.AGACOSCOS">R.AGACOSCOS</option>
                    </select>
                </div>


                <hr />

                <div class="form-actions">

                    <button type="submit" class="primarybtn" style="width: 100%; display: flex; place-content: center;  ">
                        <i class="fa-regular fa-floppy-disk"></i>
                        Save Record
                    </button>
                </div>
            </form>

        </div>

        <!-- Right Panel - Data Display -->
        <div class="right-panel">
            <div id="DailySummary">

                <!-- Controls Section -->
                <div class="controls-section">
                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-calendar"></i>  Filtered Date
                        </label>
                        <div class="search-box">
                            <input type="date" id="DailyfilterDate">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-tags"></i> Filter by Year
                        </label>
                        <select class="filter-select" id="yearselectDaily">
                        </select>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-tags"></i> Filter by Month
                        </label>
                        <select class="filter-select" id="monthSelectDaily">
                        </select>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-tags"></i> Filter by Process
                        </label>
                        <select class="filter-select" id="DailyProcess">
                            <option value="M002">Mold Frame</option>
                            <option value="M003">Mold Impeller</option>
                            <option value="M004">Slot Insulator </option>
                        </select>
                    </div>


                </div>





                <hr />

                <div class="TrackTable" id="DieWrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Part No. / Model </th>
                                <th>No.of Shot Cycle</th>
                                <th>Total</th>
                                <th>Machine No.</th>
                                <th>Status</th>
                                <th>Remarks</th>
                                <th>MIC</th>
                            </tr>
                        </thead>
                        <tbody id="DieMoldDaily">
                        </tbody>
                    </table>



                </div>

                <div id="DailyContainer" class="paginationPartlocal"></div>
            </div>


            <div id="DailyInputs">
                <div class="flex_align mb-3">
                    <h3 style="margin: 0;">Product Details</h3>
                    <button id="Originalback"><i class="fa-solid fa-arrow-rotate-right"></i>Daily</button>
                </div>
                <div class="Detailcard">
                    <div class="summary-grid">
                        <div class="summary-item">
                            <div class="summary-label">Part Number</div>
                            <div class="summary-value" id="partNumber">-</div>
                        </div>
                        <div class="summary-item">
                            <div class="summary-label">Dimension Quality</div>
                            <div class="summary-value" id="modelName">-</div>
                        </div>
                        <div class="summary-item">
                            <div class="summary-label">Last Cycle Shot</div>
                            <div class="summary-value" id="lastCycleShot">-</div>
                        </div>
                        <div class="summary-item">

                            <div class="summary-value" id="partStatus">
                                No Data
                            </div>
                        </div>

                    </div>
                </div>

                <hr />

                <div class="TrackTable">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Shot Cycle</th>
                                <th>Total</th>
                                <th>Machine No.</th>
                                <th>Remarks</th>
                                <th>Incharge</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="dieMoldMasterlist">
                            <!-- Data will be populated here -->
                            <tr>
                                <td colspan='10'>
                                    🔍 No Data Found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>
</section>



<!--########################## Edit Daily Mold Die  DATA #############################-->
<div class="modal fade modal-lg" id="EditDailyMold" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body modalwrap">
                <div class="custom_modal_header">
                    <h5>Edit Die Shot Cycle Control</h5>

                    <button type="button" class="btn btn-light  close" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <form id="EditDailyforms" class="addformcontainer" autocomplete="off">
                    <div class="row">
                        <div class="form_group col-6 col-lg-6 col-sm-12">
                            <input type="hidden" name="DailyRecordiD" id="DailyRecordiD" required>
                            <label for="">Date Input <small style="color: #a81818; font-weight: 600;">*</small></label>
                            <input type="date" name="DailyEditDateInput" id="DailyEditDateInput">
                        </div>

                        <div class="form_group col-6 col-lg-6 col-sm-12">
                            <label for="">Part number <small style="color: #a81818; font-weight: 600;">*</small></label>
                            <input type="text" placeholder="Type Part number" name="Editdailypartno" id="Editdailypartno" required>
                            <div class="dailyEditpartnumdisplay"></div>
                        </div>


                    </div>



                    <div class="row">
                        <div class="form_group col-6 col-lg-6 col-sm-12">
                            <label for="">Cycle shot</label>
                            <input type="number" name="DailyeditCycleShot" id="DailyeditCycleShot" placeholder="Enter Cycle Shot" onkeypress='return restrictChars(event)' required>
                        </div>

                        <div class="form_group col-6 col-lg-6 col-sm-12">
                            <label for="">Machine No</label>
                            <input type="number" name="DailyEditMachineNo" id="DailyEditMachineNo" required>
                        </div>


                    </div>

                    <div class="row">
                        <div class="form_group col-6 col-lg-6 col-sm-12">
                            <label for="">Remarks</label>


                            <div class="select-container" style="width: 100% !important;">
                                <select name="DailyEditRemarks" id="DailyEditRemarks">
                                    <option value="N/A">N/A</option>
                                    <option value="Shot cycle clearning">Shot cycle clearning</option>
                                    <option value="Die Cleaning Due To 1 Month No operation">Die Cleaning Due To 1 Month No operation</option>
                                </select>
                            </div>
                        </div>
                        <div class="form_group col-6 col-lg-6 col-sm-12">
                            <label for="">Maintenance incharge</label>


                            <div class="select-container" style="width: 100% !important;">
                                <select name="DailyEditMincharge" id="DailyEditMincharge">
                                    <option value="N.AMLOG">N.AMLOG</option>
                                    <option value="J.ORO">J.ORO</option>
                                    <option value="R.AGACOSCOS">R.AGACOSCOS</option>
                                </select>
                            </div>
                        </div>


                    </div>



                    @*<div class="form_group col-6 col-lg-6 col-sm-12">
                            <label for="">Remarks</label>

                            <div class="select-container" style="width: 100% !important;">
                                <select name="Remarks" id="Remarks">
                                    <option value="Mold Die">Mold Die</option>
                                    <option value="Tooling">Tooling</option>
                                </select>
                            </div>
                        </div>*@




                    <hr />


                    <div class="flex_space " id="editsdisplay">
                        <small>All fields marked with (<small style="color: #a81818; font-weight: 600;">*</small>) must be filled out</small>
                        <button type="submit" class="primary_button_color">
                            <span><i class="fa-regular fa-floppy-disk"></i>  Save</span>
                        </button>
                    </div>
                </form>


            </div>


        </div>
    </div>
</div>

<!-- Success Message -->
<div class="success-message" id="successMessage">
    <i class="fas fa-check-circle"></i>
    <span>Record saved successfully!</span>
</div>


<script type="text/javascript">
    let isFirstLoad = true;
    let isYearLoad = true;
    // Loads the year and month select options
    initMonthSelect("monthSelectDaily", true);

     let GetData = [], DailyData = [];
     let TableDisplay = $("#dieMoldMasterlist");
     let DailyDisplay = $("#DieMoldDaily");

    let yearSelect = $("#yearselectDaily");
    const currentMonth = new Date().getMonth();
    const currentYear = new Date().getFullYear();

    const yearSelectfilter = document.getElementById("yearselectDaily");
    const monthSelect = document.getElementById("monthSelectDaily");
    const dateInput = document.getElementById("DailyfilterDate");

     let setMonth = parseInt(currentMonth) + 1;
     let GetRow = 0;

     // Submit a Add Forms
     $("#addDailyForm").on('submit', async function (e) {
         e.preventDefault();
         const searchInput = $("#searchInput").val().trim();
         const selectionProcess = $("#processSelect").val();

         if (searchInput === "" && selectionProcess === "") {
             alert("Check all the required Input");
             return;
         }



         let formData = new FormData(e.target);
         formData.append('PartNo', searchInput);
         formData.append('ProcessID', selectionProcess);
         const data = Object.fromEntries(formData);

           // Check for duplicate entry for the same part number on the same date
         let checkduplicate = await fetchData('@Url.Action("CheckDialyMoldExist", "Mold")',
          {
             PartNo: data.PartNo,
             DateInput: data.DateInput
         });

         if (checkduplicate) {
                 Swal.fire({
                     icon: "error",
                     text: "Partnumber is already Input ",
                     timer: 1500,
                     showConfirmButton: false
                 });
                 return;
         }

         let res = await postData('@Url.Action("AddDailyMoldDieMonitor", "Mold")', data);
         console.log(res);
          if (res && res.Success) {
              showSuccessMessage();

              SearchMoldiePartno();
              document.getElementById("addDailyForm").reset();
              $("#searchInput").val("");
               //Swal.fire({
               //    title: "Success",
               //    text: res.Message,
               //    icon: "success",
               //    confirmButtonColor: "#0d97c9",
               //    timer: 1500
               //}).then(() => {

               //});
           } else {
               Swal.fire({
                   icon: "error",
                   text: "Error  Problem ecounter.",
                   timer: 1500,
                   showConfirmButton: false
               });
           }
     });
     $("#EditDailyforms").on('submit', async (e) => {
          e.preventDefault();
          let formData = new FormData();
          formData.append('RecordID', $('#DailyRecordiD').val());
          formData.append('DateInput', $('#DailyEditDateInput').val());
          formData.append('dailypartno', $('#Editdailypartno').val());
          formData.append('CycleShot', $('#DailyeditCycleShot').val());
          formData.append('MachineNo', $('#DailyEditMachineNo').val());
          formData.append('Remarks', $('#DailyEditRemarks').val());
          formData.append('Mincharge', $('#DailyEditMincharge').val());
          const data = Object.fromEntries(formData);
          let res = await postData('@Url.Action("UpdateDailyMoldDieMonitor", "Mold")', data);

           if (res.StatusCode === 201) {
           Swal.fire({
               title: "Success",
               text: res.Message,
               icon: "success",
               confirmButtonColor: "#0d97c9",
               timer: 1500
           }).then(() => {
               SearchMoldiePartno();
               $("#EditDailyforms")[0].reset();
               $("#EditDailyMold").modal("hide");
           });
       } else {
           Swal.fire({
               icon: "error",
               text: data.ToolNo + " is already Exist",
               timer: 1500,
               showConfirmButton: false
           });
       }
      });

      // Back to Daily Summary
    $("#Originalback").on('click', function (e) {
        e.preventDefault();
        GetMoldDieDaily();
    });

    //===============================================================
    //==================== FILTER DATA ==============================
    //===============================================================
    dateInput.addEventListener('change', reloadDailyData);

    $("#DailyProcess").on('change', reloadDailyData);

    $("#monthSelectDaily").on('change', reloadDailyData);

    $("#yearselectDaily").on('change', reloadDailyData);

    function reloadDailyData() {
        const month = $("#monthSelectDaily").val();
        const day = getSelectedDay();
        const process = $("#DailyProcess").val();

        GetMoldDieDaily(month, day, process);
    };
    function getSelectedDay() {
        if (!dateInput.value) return 0;
        const parts = dateInput.value.split("-");
        return parts.length === 3 ? parseInt(parts[2], 10) : 0;
    }
    //===============================================================

     // Search functionality
     $("#searchButton").on('click', function (e) {
         e.preventDefault();
         SearchMoldiePartno();
     });
     // Allow Enter key to trigger search
     $("#searchInput").on('keypress', function (e) {
         if (e.key === 'Enter') {
             SearchMoldiePartno();
         }
     });
     // Search Logic
     async function SearchMoldiePartno() {
         const searchInput = $("#searchInput").val().trim();
         const selectionProcess = $("#processSelect").val();

         if (selectionProcess === "" && !searchInput) {
             // Handle empty input
             $("#validDateinput").show();
             $("#validprocess").show();
             return;
         }

         if (selectionProcess === "") {
             // Handle empty input
             $("#validprocess").show();
             $("#validDateinput").hide();
             return;
         }

         if (!searchInput) {
             // Handle empty input
             $("#validprocess").hide();
             $("#validDateinput").show();
             return;
         }
         $("#validDateinput").hide();
         $("#validprocess").hide();
         const searchButton = document.getElementById('searchButton');
         const originalText = searchButton.innerHTML;

         // Show loading state
         searchButton.innerHTML = '<div class="loading"></div> Searching...';
         searchButton.disabled = true;

         $("#DailySummary").hide();
         $("#DailyInputs").show();

         try {
             TableDisplay.empty(); // Removing the Loading Display
             await new Promise(resolve => setTimeout(resolve, 1000));

             let res = await FetchAuthenticate('@Url.Action("SearchMoldieDaily", "Mold")', {
                 ProcessID: selectionProcess,
                 SearchInput: searchInput
             });


             if (res && res.Success) {

                 let Details = res.Data.Details;
                 GetData = res.Data.GetList;

                 // Display the Details
                 if (Details) {
                     $("#partNumber").text(Details.PartNo);
                     $("#modelName").text(Details.Dimension_Quality);
                     $("#lastCycleShot").text(Details.Total);

                     let statusHtml = "";

                     if (Details.Status === 0) {
                         statusHtml = `
                         <button class="status-btn active"
                             style="color:#054e92; border:2px solid #054e92;">
                             Continue
                         </button>`;
                                     }
                     else if (Details.Status === 1) {
                                         statusHtml = `
                         <button class="status-btn pulse-2">
                             Needed
                         </button>`;
                                     }
                      else if (Details.Status === 2) {
                                         statusHtml = `
                         <button class="status-btn active"
                             style="color:#188f18; border:2px solid #188f18;">
                             Completed
                         </button>`;
                     }

                     $("#partStatus").html(statusHtml);
                 }

                 PopulateDatalist(GetData);

             } else {
                 // Handle no results or failure
                 const loadData = `<tr>
                      <td colspan='9'>
                          🔍 No Data Found
                      </td>
                  </tr>`;

                 TableDisplay.append(loadData);

                 $("#partNumber").text("-");
                 $("#modelName").text("-");
                 $("#lastCycleShot").text("-");
                 $("#partStatus").text("No Data");


             }
         } catch (err) {
             console.error("Search error:", err);
         } finally {
             // Reset button
             searchButton.innerHTML = originalText;
             searchButton.disabled = false;
         }
     }

     function PopulateDatalist(data) {
         $("#dieMoldMasterlist").empty();

         data.forEach((rowData, index) => {

             // Continue Status (0)
             let continueHtml = `
         <button class="status-btn" onclick="ChangeStatus(${rowData.RecordID}, 0)">
             Continue
         </button>`;

             // Needed + Complete (1, 2)
             let neededCompleteHtml = `
         <button class="status-btn"
             onclick="ChangeStatus(${rowData.RecordID}, 1)">
             Needed
         </button>
         <button class="status-btn"
             onclick="ChangeStatus(${rowData.RecordID}, 2)">
             Complete
         </button>`;

             // Highlight active based on rowData.Status
             if (rowData.Status === 0) {
                 continueHtml = `
             <button class="status-btn active"
                 style="color:#054e92;border:2px solid #054e92;"
                 onclick="ChangeStatus(${rowData.RecordID}, 1)">
                 Continue
             </button>`;
             }
             else if (rowData.Status === 1) {
                 neededCompleteHtml = `
             <button class="status-btn active"
                 style="color:#c97d0c;border:2px solid #c97d0c;"
                 onclick="ChangeStatus(${rowData.RecordID}, 1)">
                 Needed
             </button>
             <button class="status-btn"
                 onclick="ChangeStatus(${rowData.RecordID}, 2)">
                 Complete
             </button>`;
             }
             else if (rowData.Status === 2) {
                 neededCompleteHtml = `
             <button class="status-btn"
                 onclick="ChangeStatus(${rowData.RecordID}, 1)">
                 Needed
             </button>
             <button class="status-btn active"
                 style="color:#188f18;border:2px solid #188f18;"
                 onclick="ChangeStatus(${rowData.RecordID}, 2)">
                 Complete
             </button>`;
             }

             const rowHtml = `
         <tr>
             <td>${formatJsonDate(rowData.DateInput)}</td>
             <td>${rowData.CycleShot}</td>
             <td>${rowData.Total}</td>
             <td>${rowData.MachineNo}</td>
             <td>${rowData.Remarks}</td>
             <td>${rowData.Mincharge}</td>
              <td>
                <div class='flex_align'>
                    ${continueHtml} ${neededCompleteHtml}
                </div>
              </td>
             <td >
                <div style='display: grid; grid-template-columns: 50% 50%; gap: 5px;'>
                      <button type="button" class="text-primary actionicon EditDaily"
                          id="editButton_${rowData.RecordID}">
                          <i class="fa-regular fa-pen-to-square action_btn"></i>
                      </button>

                      <button type="button" class="text-danger actionicon  deleteDailyButton"
                          id="deleteDailyButton_${rowData.RecordID}">
                          <i class="fa-regular fa-trash-can"></i>
                      </button>
                </div>

             </td>
         </tr>`;

             $("#dieMoldMasterlist").append(rowHtml);
         });


         // Handle click event for edit button
         $(document).on('click', '.EditDaily', function (e) {
             e.stopPropagation();


             const buttonId = $(this).attr('id');
             const rowIndex = buttonId.split('_')[1];
             const filterdata = GetData.find(res => res.RecordID === parseInt(rowIndex));
             console.log("HERE");

             console.log(filterdata);

             if (filterdata) {
                 let setDate = formatJsonDate(filterdata.DateInput);
                 console.log(setDate);
                 $("#DailyRecordiD").val(filterdata.RecordID);
                 setDateInput("DailyEditDateInput", setDate);
                 $("#Editdailypartno").val(filterdata.PartNo);
                 $("#DailyeditCycleShot").val(filterdata.CycleShot);
                 $("#DailyEditMachineNo").val(filterdata.MachineNo);
                 $("#DailyEditRemarks").val(filterdata.Remarks);
                 $("#DailyEditMincharge").val(filterdata.Mincharge);
                 $("#EditDailyMold").modal("show");

             }
         });


            // Handle click event for edit button
           $(document).on('click', '.deleteDailyButton', async function (e) {
               e.stopPropagation();
               const buttonId = $(this).attr('id');
               const rowIndex = buttonId.split('_')[1];


               Swal.fire({
                   title: "Are you sure you want to delete this?",
                   text: "You won't be able to revert this!",
                   icon: "warning",
                   showCancelButton: true,
                   confirmButtonColor: "#3085d6",
                   cancelButtonColor: "#d33",
                   confirmButtonText: "Yes, delete it!"
               }).then( async (result) => {
                   if (result.isConfirmed) {
                       let res = await postData('@Url.Action("DeleteDailyMoldDieMonitor", "Mold")', { ID: rowIndex });
                       if (res.Success && res) {

                           Swal.fire({
                               title: "Success",
                               text: res.Message,
                               icon: "success",
                               confirmButtonColor: "#0d97c9",
                               timer: 1500
                           }).then(() => {
                               SearchMoldiePartno();
                           });


                       }
                   }
               });

           });



     }

     async function ChangeStatus(recordId, status) {

         let res = await postData('@Url.Action("UpdateDailyStatus", "Mold")', {
             RecordID: recordId,
             Status: status
         });

         if (res && res.Success) {
             // Refresh your table
             SearchMoldiePartno()
         }
     }

     function setDateInput(inputId, dateStr) {
         if (!dateStr) return; // Exit if empty

         const parts = dateStr.split("/"); // ["MM", "DD", "YY"]
         if (parts.length !== 3) return; // Invalid format

         const month = parts[0].padStart(2, '0');
         const day = parts[1].padStart(2, '0');
         const year = parts[2]; // assumes 2000+ year

         const formattedDate = `${year}-${month}-${day}`;

         const inputElement = document.getElementById(inputId);
         if (inputElement) {
             inputElement.value = formattedDate;
         }
    }

    const GetMoldieYears = async () => {
        let res = await fetchData('@Url.Action("GetYearMoldDie", "Mold")', {});

            yearSelect.empty();
            $.each(res, function (index, year) {
                yearSelect.append(`<option value='${year}'>${year}</option>`);
            });

        // select the first option automatically
        yearSelect.prop('selectedIndex', 0);
    }

    const GetMoldDieDaily = async (month = setMonth, day = GetRow, process = $("#DailyProcess").val()) => {
        $("#DailySummary").show();
        $("#DailyInputs").hide();

        if (isYearLoad) {
            await GetMoldieYears();
        }


        const year = yearSelect.val() === null || yearSelect.val() === ""
            ? currentYear
            : yearSelect.val();

        let formData = new FormData();
        // Where value of month is around 1 - 12
        formData.append('Months', month);
        formData.append('Days', day);
        formData.append('Year', year);
        formData.append('ProcessID', process);
        const data = Object.fromEntries(formData);

        // Clear table only on first load
        if (isFirstLoad) {
            $("#DieMoldDaily").empty();
        }

        let loaderId = null;

        if (isFirstLoad && typeof window.Loadingsteps === "function") {
            const id = window.loadingDisplay("DieMoldDaily", 8);

            window.Loadingsteps(id, async () => {
                await loadMasterlist("", data);
                isFirstLoad = false; // ✅ turn off loader forever
                isYearLoad = false;
            });
        } else {
            // No loader for filters / pagination
            await loadMasterlist("", data);
        }

    }

    const loadMasterlist = async (url, data) => {
        $("#DieMoldDaily").empty();

        let res = await FetchAuthenticate('@Url.Action("GetMoldDieDailyList", "Mold")', data);
         if (res && res.Success) {
              //DieTooling = res.Data;
              DailyData = res.Data;
              DisplayRowData(DailyData);

         } else {
             const message = res?.Message ?? "No data found";

              const loadData = `<tr>
                    <td colspan='8'>
                        🔍 ${message}
                    </td>
                </tr>`;

              DailyDisplay.empty();
              DailyDisplay.append(loadData);

         }
    };


    function DisplayRowData(dataArray) {
        $("#DieMoldToolist").empty();

        dataArray.forEach((row, index) => {
            let continueHtml = `<span>Continue</span>`;
            let neededCompleteHtml = `<span>Needed</span> <span>Complete</span>`;

            // Highlight according to status
            if (row.Status === 0) {
                continueHtml = `<span class="status-label active" style="color: #054e92; border: 2px solid #054e92;">Continue</span>`;
            } else if (row.Status === 1) {
                neededCompleteHtml = `
                   <span class="status-label active" style="color: #c97d0c; border: 2px solid #c97d0c;">Needed</span>
                   <span class="status-label">Complete</span>`;
            } else if (row.Status === 2) {
                neededCompleteHtml = `
                   <span class="status-label">Needed</span>
                   <span class="status-label active" style="color: #188f18; border: 2px solid #188f18;">Complete</span>`;
            }


            const setdata = `
                <tr >
                    <td>${formatJsonDate(row.DateInput)}</td>
                    <td style='font-weight: 600;'>${row.PartNo} / ${row.Dimension_Quality}</td>
                    <td>${row.CycleShot}</td>
                    <td>${row.Total}</td>
                    <td>${row.MachineNo}</td>
                    <td>  
                        <div class='flex_align'>
                          ${continueHtml} ${neededCompleteHtml}
                      </div>
                      </td>
                    <td>${row.Remarks}</td>
                     <td>${row.Mincharge}</td>

               </tr>`;

            $("#DieMoldDaily").append(setdata);
        });


    }





    // Function to show success message
    function showSuccessMessage() {
        const $message = $('#successMessage');
        $message.fadeIn(300);

        setTimeout(() => {
            $message.fadeOut(300);
        }, 3000);
    }


    $("#validprocess").hide();
    $("#validDateinput").hide();
    GetMoldDieDaily();

</script>