
@{
    ViewBag.Title = "DieMoldDaily";
    Layout = "~/Areas/MoldDie/Views/Shared/_MainLayout.cshtml";
}


<section>
    <div class="DieMainContainer">
        <!-- Left Panel - Form -->
        <div class="left-panel">
            <div class="left-header">
                <h6><i class="fas fa-stopwatch"></i> Daily Moldie Input</h6>
            </div>

            <div class="left-content">
                <div class="formcustomgroup with-icon">
                    <label class="form-label" for="processSelect">
                        <span>SELECT PROCESS</span>
                        <span class="validate-message" id="validprocess">Set Process required</span>
                    </label>
                    <select id="processSelect">
                        <option value="">-- Select Process --</option>
                        <option value="M001">ACM</option>
                        <option value="M002">Mold frame</option>
                        <option value="M003">Mold Impeller</option>
                        <option value="M004">Slot Insulator</option>
                        <option value="M005">Stepping Motor</option>
                    </select>
                </div>

                <div class="formcustomgroup" style="margin-top: 1em; display:none;">
                    <label class="form-label required" for="processSelect">SEARCH PARTNO <span class="validate-message" id="validDateinput">Input part no is required</span></label>
                    <div class="search-container">
                        <input type="text" id="searchInput" placeholder="Enter part number to search (e.g., 002886060-01)" maxlength="14">
                        <button id="searchButton" class="btn btn-secondary">
                            <i class="fa-solid fa-search"></i>
                        </button>
                    </div>
                </div>

                <div class="formcustomgroup" style="margin-top: 1em;">
                    <label class="form-label required" for="processSelect">SEARCH DIE SERIAL  <span class="validate-message" id="validDateDieSerial">Input DieSerial no.</span></label>
                    <div class="search-container">
                        <input type="text" id="searchDie" placeholder="Enter part number to search (e.g., 002886060-01)" maxlength="14">
                        <button id="searchDieButton" class="btn btn-secondary">
                            <i class="fa-solid fa-search"></i>
                        </button>
                    </div>
                </div>

                <form id="addDailyForm" class="Moldformcontaner" style="margin-top: 1em;" autocomplete="off">
                    <input type="hidden" name="DieSerial" id="strDieSerial" />

                    <!-- Date Input -->
                    <div class="formcustomgroup with-icon">
                        <label class="form-label required" for="dateInput">DATE </label>
                        <input type="date" id="DateInput" name="DateInput" required>
                    </div>

                    <!-- Cycle Shot -->
                    <div class="formcustomgroup with-icon">
                        <label class="form-label required" for="cycleShot">CYCLE SHOT </label>
                        <input type="number" id="CycleShot" name="CycleShot" placeholder="Enter Cycle Shot" required min="0">
                    </div>

                    <!-- Machine No -->
                    <div class="formcustomgroup with-icon">
                        <label class="form-label required" for="machineNo">MACHINE NO.</label>
                        <input type="number" id="MachineNo" name="MachineNo" placeholder="Enter Machine Number" required min="1">
                    </div>

                    <!-- Remarks -->
                    <div class="formcustomgroup with-icon">
                        <label class="form-label" for="remarks">REMARKS</label>
                        <select id="remarks" name="Remarks">
                            <option value="N/A">N/A</option>
                            <option value="Shot cycle cleaning">Shot cycle cleaning</option>
                            <option value="Die Cleaning Due To 1 Month No operation">Die Cleaning Due To 1 Month No operation</option>
                        </select>
                    </div>

                    <!-- Maintenance Incharge -->
                    <div class="formcustomgroup with-icon">
                        <label class="form-label" for="maintenanceIncharge">MAINTENANCE INCHARGE</label>
                        <select id="Mincharge" name="Mincharge">
                            <option value="N.AMLOG">N.AMLOG</option>
                            <option value="J.ORO">J.ORO</option>
                            <option value="R.AGACOSCOS">R.AGACOSCOS</option>
                        </select>
                    </div>



                    <div class="form-actions" style="padding-top: 1.5em;">

                        <button type="submit" class="btn-primary-custom" style="width: 100%; display: flex; place-content: center;  ">
                            <i class="fa-regular fa-floppy-disk"></i>
                            Save Record
                        </button>
                    </div>
                </form>
            </div>

        </div>

        <!-- Right Panel - Data Display -->
        <div class="right-panel">
            <div id="DailySummary">

                <!-- Controls Section -->
                <div class="controls-section">
                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-calendar"></i>  Filtered Date
                        </label>
                        <div class="search-box">
                            <input type="date" id="DailyfilterDate">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-tags"></i> Filter by Year
                        </label>
                        <select class="filter-select" id="yearselectDaily">
                        </select>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-tags"></i> Filter by Month
                        </label>
                        <select class="filter-select" id="monthSelectDaily">
                            <option value="0"> -- select Month -- </option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>

                    <div class="control-group">
                        <label class="control-label">
                            <i class="fas fa-tags"></i> Filter by Process
                        </label>
                        <select class="filter-select" id="DailyProcess">
                            <option value=""> -- select Process -- </option>
                            <option value="M002">Mold Frame</option>
                            <option value="M003">Mold Impeller</option>
                            <option value="M004">Slot Insulator </option>
                        </select>
                    </div>


                </div>





                <hr />

                <div class="TrackTable" id="DieWrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Part No. / Model </th>
                                <th>No.of Shot Cycle</th>
                                <th>Total</th>
                                <th>Machine No.</th>
                                <th>Status</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody id="DieMoldDaily">
                        </tbody>
                    </table>



                </div>

                <div class="pagination" id="pagination">

                    <div class="pagination-items">
                        <!-- Pagination buttons will be inserted here -->
                    </div>
                </div>
            </div>


            <div id="DailyInputs">
                <div class="flex_align mb-3">
                    <h3 style="margin: 0;">Product Details</h3>
                    <button id="Originalback"><i class="fa-solid fa-arrow-rotate-right"></i>Daily</button>
                </div>


                <div class="DetailSerialMain" id="DetailSerialcard">
                    <table class="DetailSerialcard">
                        <thead>
                            <tr>
                                <th>Part number</th>
                                <th>Dimension Quality</th>
                                <th>Die Serial </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="DieSerialMasterlist">
                            <!-- Data will be populated here -->
                            <tr>
                                <td colspan='10'>
                                    🔍 No Data Found
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>



                <hr />

                <div class="TrackTable">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Shot Cycle</th>
                                <th>Total</th>
                                <th>Machine No.</th>
                                <th>Remarks</th>
                                <th>Incharge</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="dieMoldMasterlist">
                            <!-- Data will be populated here -->
                            <tr>
                                <td colspan='10'>
                                    🔍 No Data Found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>
</section>


@Html.Partial("_MoldDIeSummaryView")

<!-- Success Message -->
<div class="success-message" id="successMessage">
    <i class="fas fa-check-circle"></i>
    <span>Record saved successfully!</span>
</div>


@*<script type="module" asp-append-version="true">
            import { initMoldiePage }
            from '@Url.Content("~/Scripts/Systems/MoldieModule.js?v=15")';

            initMoldiePage();
    </script>*@


<script type="module" asp-append-version="true">
     import {
         getMethod,
         postMethod
     } from '@Url.Content("~/Scripts/modules/index.js")';

    class DieMoldController {
        constructor() {
            this.form = document.getElementById('addDailyForm');
        }

        async init() {
            await this.GetMoldDieDailyData();
        }

        async GetMoldDieDailyData() {
             try {
                 const res = await getMethod('@Url.Action("GetMoldDieDailyList", "Mold")',{});

                 console.log(res);
                 //if (!res?.Success) {
                 //    console.log('No data Registration Found ');
                 //    return;
                 //}
                 //this.renderTable(res.data);
             } catch (error) {
                 console.error('Error fetching 4M data:', error);
             }
        }

        bindFormEvents() {
            this.form.addEventListener('submit', (e) => this.handleSubmit(e));
        }



        async handleSubmit(e) {
             e.preventDefault();

             //if (!this.form.reportValidity()) return;

             const payload = {
                 NCRID: ncrId > 0 ? ncrId : 0,
                 RegistrationNo: this.regNoInput.value.trim(),
                 ModelShopOrder: this.modelInput.value.trim(),
                 ProcessID: parseInt(this.processSelect.value, 10),
                 FourMID: parseInt(this.fourMSelect.value, 10),
                 NCRTypeID: parseInt(this.ncrTypeSelect.value, 10),
                 OriginID: this.lineSelect.value,
                 GroupID : this.GroupID.value
             };

                this.submitBtn.disabled = true;
                 try {
                     const res = await postMethod('@Url.Action("SaveRegistration", "FinalAssembly")', payload);
                     console.log(res);
                     if (!res?.Success) {
                         this.showToast(res?.Message || 'Save failed.', true);
                         return;
                     }

                     this.showToast(payload.NCRID > 0 ? 'Record updated.' : 'Record added.');
                     this.resetForm();
                     await this.GetRegistrationData();
                 } catch (error) {
                     console.error('Error saving record:', error);
                     this.showToast('Save failed.', true);
                 } finally {
                     this.submitBtn.disabled = false;
                 }
         }
    }


    document.addEventListener('DOMContentLoaded', function () {
        const controller = new DieMoldController();
        controller.init();
    });
</script>



