<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="~/Content/Images/ready-stock.ico">
    <meta name="description" content="Learn how to improve your website with caching, accessibility, and SEO best practices.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production Patrol Inspection Report System</title>
    <link rel="preload" href="~/Content/fonts/Poppins-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link href="~/Content/css/PatrolLayout.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/Cryptojs.min.js"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/Utilities.js"></script>
    <script src="~/Scripts/Popper.min.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="~/Content/font-awesome/js/all.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--========== HEADER ==========-->
    <header class="header">
        <div class="header__container flex_space">
            <a href="#" class="header__logo">Production Patrol Inspection</a>
            <div class="d-flex align-items-center gap-3">
                @*<i class="fa-regular fa-bell"></i>*@
                <span id="UserFullname"></span>
                <img src="~/Content/Images/bussiness-man.png" alt="" class="header__img" />
            </div>
           

            <div class="header__toggle">
                <i class="fa-solid fa-location-crosshairs" id="header-toggle"></i>
            </div>
        </div>
    </header>

    <!--========== NAV ==========-->
    <div class="sidebar" id="sidebar">
        <nav class="sidebar__container">
            <div>
                <div class="sidebar__list">
                    <div class="sidebar__items">
                        <h3 class="sidebar__subtitle">Main Menu</h3>
                        <a href="/PC/Patrol/Dashboard" class="sidebar__link">
                            <i class="fa-regular fa-calendar-days sidebar__icon"></i>
                            <span class="sidebar__name">Dashboard</span>
                        </a>
                        <a href="/PC/Patrol/PatrolReport" class="sidebar__link">
                            <i class="fa-regular fa-file-zipper sidebar__icon"></i>
                            <span class="sidebar__name">Registration</span>
                        </a>

                        <a href="/PC/Patrol/Inspectors" class="sidebar__link">
                            <i class="fa-solid fa-user sidebar__icon"></i>
                            <span class="sidebar__name">Inspectors</span>
                        </a>


                        <a href="/PC/Patrol/PatrolSchedule" class="sidebar__link">
                            <i class="fa-solid fa-user-secret sidebar__icon"></i>
                            <span class="sidebar__name">Patrol Schedule</span>
                        </a>
                        @*<a href="/PC/Patrol/CheckSheet" class="sidebar__link">
                            <i class="fa-regular fa-square-check sidebar__icon"></i>
                            <span class="sidebar__name">CheckSheet Patrol</span>
                        </a>*@
                    </div>

                    <div class="sidebar__items">
                        <h3 class="sidebar__subtitle">Others</h3>

                        @*<div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class='bx bx-bell nav__icon'></i>
                                    <span class="nav__name">Notifications</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Blocked</a>
                                        <a href="#" class="nav__dropdown-item">Silenced</a>
                                        <a href="#" class="nav__dropdown-item">Publish</a>
                                        <a href="#" class="nav__dropdown-item">Program</a>
                                    </div>
                                </div>

                            </div>*@

                     
                        <a href="/PC/Patrol/Settings" class="sidebar__link">
                            <i class="fa-solid fa-gear sidebar__icon"></i>
                            <span class="sidebar__name">Settings</span>
                        </a>
                    </div>
                </div>
            </div>

            <a href="#" id="logID" class="sidebar__link sidebar__logout">
                <i class="fa-solid fa-right-from-bracket sidebar__icon"></i>
                <span class="sidebar__name">Log Out</span>
            </a>
        </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <main>
        @RenderBody()
    </main>




    <script type="text/javascript">
        var sessionCheckInterval;

        const GetNotification = async () => {
            let res = await FetchAuthenticate('@Url.Action("GetNotificationList", "Notification")', {});
            if (res && res.Success) {
            
            }
        }

        const GetFullname = async () => {
            var x = localStorage.getItem("Fullname") || "Guest user";
            $("#UserFullname").text(x);
        };


        function startSessionCheck() {
            clearInterval(sessionCheckInterval); // Clear previous interval
            sessionCheckInterval = setInterval(checkSession, 3600000); // Restart session check every 60 seconds
        }


        function checkSession() {
            $.ajax({
                url: "/User/CheckSession",
                method: "GET",
                success: function (response) {
                    if (!response.isAuthenticated) {
                        //alert("Your session has expired. Redirecting to login page.");
                        window.location.href = "/PC/Patrol/index";
                    }
                }
            });
        }

        // Start interval on page load
        startSessionCheck();

        // Reset interval on user activity
        document.addEventListener("mousemove", startSessionCheck); // Mouse movement
        document.addEventListener("keydown", startSessionCheck);   // Keyboard typing
        document.addEventListener("click", startSessionCheck);     // Mouse clicks


        const logbtn = document.getElementById("logID");

        /*==================== SHOW NAVBAR ====================*/
        const showMenu = (headerToggle, navbarId) => {
            const toggleBtn = document.getElementById(headerToggle),
                nav = document.getElementById(navbarId)

            // Validate that variables exist
            if (headerToggle && navbarId) {
                toggleBtn.addEventListener('click', () => {
                    // We add the show-menu class to the div tag with the nav__menu class
                    nav.classList.toggle('show-menu')
                    // change icon
                    toggleBtn.classList.toggle('fa-solid')
                })
            }
        }
        showMenu('header-toggle', 'sidebar')

        /*==================== LINK ACTIVE ====================*/
        const linkColor = document.querySelectorAll('.sidebar__link')

        function colorLink() {
            linkColor.forEach(l => l.classList.remove('active'))
            this.classList.add('active')
        }

        linkColor.forEach(l => l.addEventListener('click', colorLink))



        document.addEventListener("DOMContentLoaded", function () {
            var currentUrl = window.location.pathname.toLowerCase();
            document.querySelectorAll(".sidebar__link").forEach(function (link) {
                if (link.getAttribute("href").toLowerCase() === currentUrl) {
                    link.classList.add("active");
                }
            });
        });






        logbtn.addEventListener('click', function (e) {
            e.preventDefault();
            Swal.fire({
                title: "Sign out ?",
                text: "Are you sure you want to sign out?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#a3a3a3",
                confirmButtonText: "Log out"
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    localStorage.removeItem("Fullname");
                    localStorage.removeItem("UserRole");
                    localStorage.removeItem('accessToken');
                    localStorage.removeItem('refreshToken');
                    logout();
                }
            });
        });


      

       

        GetFullname();
        //GetNotification();

        window.IsLoginUser({
            storageKey: "isLoggedInPatrol",
            redirectUrl: '/PC/Patrol/index',
            expectedValue: 'true',
            expirationKey: 'PatrolTime',
            maxHours: 24
        });
    </script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
